.msg91-articles-view-body-inner-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



li.folder-list svg {
    margin-right: 15px;
}

.search-box {
    border-bottom: 1px solid gainsboro;
    z-index: 0;
    svg {
        top: 15px;
        left: 15px;
    }
    input[type='text'] {
        width: -webkit-fill-available;
        border: 0;
        padding: 10px 10px 10px 39px;
        height: 25px;
    
        &:focus {
            outline: unset !important;
        }
    }
}


::ng-deep.msg91-articles-view-body-inner-container {
    iframe {
        width: 100%;
    }
}

