:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-msg-box {
    .agent-name {
        color: #8f9396;
    }

    padding: 6px;
    background-color: var(--msg-inboundMsg);
    color: #393939;
    min-width: 160px;
    max-width: 233px;
    border-radius: 6px;
    box-sizing: border-box;
    span {
        display: block;
    }

    P {
        margin: 0px;
        font-family: var(--msg-fontFamily);
        color: #313131;
    }

    &.if-attachment {
        padding: 6px;
        p {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        .attach-bubble {
            background: rgba(0, 0, 0, 0.08);
            border-radius: 3px;
            display: flex;
            align-items: center;
            padding: 4px;
            .attach-icon {
                width: 18px;
                height: 18px;
                .mat-icon {
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                    opacity: 0.8;
                }
            }
            .attach-filename {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex: 1;
                span {
                    font-family: var(--msg-fontFamily);
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    color: #313131;
                    margin-left: 6px;
                    margin-right: 6px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .download-icon {
                cursor: pointer;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
                &:hover {
                    background-color: #ecf1f8;
                }
            }
            ::ng-deep.show-loader {
                width: 24px;
                height: 24px;
                .mat-progress-spinner {
                    circle {
                        stroke: var(--msg-primaryColor);
                    }
                }
            }
        }
        .input-msg-break {
            padding-left: 4px;
        }
        img {
            display: block;
        }
    }
}

::ng-deep.input-msg-box {
    * {
        overflow-wrap: anywhere;
        margin: 0px;
    }

    .input-msg-break {
        -ms-word-break: break-word !important;
        word-break: break-word !important;
        -webkit-hyphens: auto !important;
        hyphens: auto !important;
        pre {
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
        * {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.bot-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 4px;
}

::ng-deep.in-message-initial .profile-caption {
    background-color: var(--msg-outboundMsg) !important;
}

.meet-btn {
    min-height: 26px;
    line-height: 30px !important;
    background-color: var(--msg-primaryColor);
    &.mat-button-disabled {
        color: #00000042 !important;
        background-color: #0000001f !important;
        pointer-events: none;
    }
}

.media-not-found::after {
    pointer-events: none;
    content: 'Media not Found or Supported';
    position: absolute;
    inset: 0;
    color: #ffffff;
    background-color: rgb(0 0 0 / 54%);
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-common-radius-4);
    font-weight: 600;
    cursor: not-allowed;
    z-index: 9999;
    font-size: 14px;
}
