.mat-button {
    font-family: var(--msg-fontFamily) !important;
}

.old-message-list-card {
    display: flex;
    position: relative;
    width: 100%;
}

.old-message-list-card .old-profile-group {
    // min-width: 35px;
    // height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.singleInitial {
        width: 40px;
        height: 40px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    &.multipleInitial {
        width: 35px;
        height: 35px;
    }
}

.old-message-list-card .old-profile-group .profile-name {
    position: absolute;
}

// ::ng-deep.old-message-list-card .old-profile-group .profile-name.single .profile-caption {
//     width: 40px !important;
//     height: 40px !important;
// }

.old-message-list-text-content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    flex: 1;
}

.old-message-list-card .old-profile-group .profile-name.old-profile-1 {
    top: 0;
    z-index: 9;
}

.old-message-list-card .old-profile-group .profile-name.old-profile-2 {
    left: 0;
    bottom: 0;
}

.old-message-list-card .old-profile-group .profile-name.old-profile-3 {
    right: 0;
    bottom: 0;
}

.old-message-list-card .old-profile-group .profile-name.single {
    position: unset !important;
    top: unset !important;
}

.old-message-list-text-content small.count {
    color: #979797;
    font-size: 13px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
}

.old-message-list-text-content .old-title {
    color: #999797;
    font-size: 12px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
    width: 160px;
    font-family: var(--msg-fontFamily) !important;
    font-weight: normal;
}

.old-message-list-text-content span {
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #313131;
    font-family: var(--msg-fontFamily) !important;
}

button.start-msg-btn {
    border: 1px solid var(--msg-primaryColor);
    color: var(--msg-primaryColor);
    background-color: white;
    padding: 7px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 5px #00000024;
    transition: 500ms all;

    &:hover {
        box-shadow: unset !important;
        background-color: #f1f2ff;
    }

    &:focus {
        outline: unset !important;
    }
}

button.old-c-btn {
    border: unset;
    background-color: unset;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 0px;
    &:focus {
        outline: unset !important;
    }
}

:host {
    &:last-child {
        .main-msg91-old-channel {
            border-bottom: 0px !important;
        }
    }
}

::ng-deep.main-msg91-old-channel {
    display: flex !important;
    padding: 12px 16px !important;
    border-bottom: 1px solid #e3e3e4 !important;
    margin-right: 0 !important;
    width: 100% !important;
    text-align: left !important;
    line-height: 1 !important;
    font-weight: normal !important;
    border-radius: 0px !important;

    span.mat-button-wrapper {
        width: 100%;
    }
}

span.unread-count {
    font-size: 11px !important;
    display: flex;
    align-items: center;
    color: #5eaf00;
    border-radius: 20px;
}

span.unread-count mat-icon {
    font-size: 13px;
    width: 13px;
    height: 13px;
    margin-right: 6px;
    color: #ffb700;
}
.new-message {
    font-size: 9px;
    line-height: 11px;
    color: var(--msg-primaryColor);
    margin: 0px;
}

span.unread-count .count {
    color: white !important;
    background-color: #f50505;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: -6px;
    width: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    z-index: 9;
}

.secondary-color-fill {
    fill: var(--msg-secondaryColor);
}
