<div
    class="out-msg-box text-white"
    [ngClass]="{ 'if-attachment': messages.content?.attachment?.length > 0, 'deleted-message': messages?.is_deleted }"
    *ngIf="messages?.message_type !== 'activity'"
>
    <ng-container *ngFor="let attachment of messages.content?.attachment">
        <ng-template [ngIf]="attachment?.mime_type?.includes('image')">
            <div style="position: relative">
                <img
                    #imageTag
                    [src]="attachment.path"
                    class="img-msg-box max-w-100 rounded-4"
                    *ngIf="supportedFiles[attachment.name]"
                    loading="lazy"
                    (error)="onImageLoadError(imageTag)"
                />
            </div>

            <div *ngIf="!supportedFiles[attachment.name]" class="file-attachment rounded-4 font-12 d-flex align-items-center mt-3">
                <mat-icon class="material-icons-outlined d-flex justify-content-center align-items-center font-14 w-100">attach_file</mat-icon>
                <span class="text-dotted font-12">{{ attachment.name }}</span>
            </div>
        </ng-template>

        <ng-template [ngIf]="attachment?.mime_type?.includes('audio')">
            <div class="attach-bubble">
                <div class="attach-icon">
                    <mat-icon class="material-icons-outlined">audiotrack</mat-icon>
                </div>
                <div class="attach-filename">
                    <span>{{ attachment.name }}</span>
                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]="attachment?.mime_type?.includes('video')">
            <div class="attach-bubble">
                <div class="attach-icon">
                    <mat-icon class="material-icons-outlined">videocam</mat-icon>
                </div>
                <div class="attach-filename">
                    <span>{{ attachment.name }}</span>
                </div>
            </div>
        </ng-template>

        <div
            *ngIf="
                !attachment.mime_type?.includes('image') &&
                attachment.path &&
                !attachment?.mime_type?.includes('audio') &&
                !attachment?.mime_type?.includes('video')
            "
            class="attach-bubble"
        >
            <div class="attach-icon">
                <mat-icon class="material-icons-outlined">insert_drive_file</mat-icon>
            </div>
            <div class="attach-filename">
                <span>{{ attachment.name }}</span>
            </div>
        </div>
        <mat-progress-spinner
            *ngIf="downloadInProgress[attachment.path]"
            diameter="20"
            mode="indeterminate"
            value="100"
            class="show-loader"
        >
        </mat-progress-spinner>
    </ng-container>
    <p
        *ngIf="messages?.content?.text && !messages?.is_deleted"
        [innerHTML]="text | whatsAppInlineStyleFormat | linkify"
        class="msg-content"
    ></p>
    <p *ngIf="messages?.is_deleted" class="msg-content" style="color: #333; opacity: 0.7">This message was deleted.</p>
</div>
