@use '../../../../../assets/styles/component/global' as  global;

::ng-deep {
    display: flex;
    flex-direction: column;
}


.mat-button {
    font-family: var(--msg-fontFamily) !important;
}

.frequently-body-inner-container {
     inset: 0;

    .folder-items {
        margin-bottom: 32px !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
        .folder-icon {
            color: var(--msg-outboundMsg) !important;
        }
    }
    ul {
        list-style: none;
    }
}


.search-box {
    position: relative;
    z-index: 0;
    svg {
        position: absolute;
        top: 25px;
        left: 26px;
    }
}

.search-box input[type='text'] {
    border-radius: 6px;
    border: 0px;
    padding: 8px 10px 7px 39px;
    height: 40px;
    box-sizing: border-box;
    background-color: var(--msg-inboundMsg);
    color: #393939;
    width: 100%;

    &:focus {
        outline: none;
    }

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 14px;
        line-height: 20px;
        color: #a2a2a2;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 14px;
        line-height: 20px;
        color: #a2a2a2;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 14px;
        line-height: 20px;
        color: #a2a2a2;
    }

    &:focus {
        outline: unset !important;
    }
}

.faq-view-header {
    min-height: 40px;
    .faq-title {
        line-height: 20px;
        -webkit-font-smoothing: antialiased;
    }
}

.main-loader {
    background-color: #ffffffbf;

    .mat-progress-spinner {
        circle {
            stroke: var(--msg-primaryColor);
        }
    }
}

.search-loader {
    top: 25px;
    right: 28px;

    .mat-progress-spinner {
        circle {
            stroke: var(--msg-primaryColor);
        }
    }
}

.head-logo {
   order: 1;
}

.semples-header {
    padding: 32px 16px !important;
    border-radius: 16px 16px 40px 40px;
    box-sizing: border-box;
    height: 104px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
}

/* width */
::-webkit-scrollbar {
    width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--msg-inboundMsg) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--msg-outboundMsg) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--msg-primaryColor) !important;
}

.faIcon {
    svg {
        width: 16px;
        height: 16px;
    }
}

.secondary-color-stroke {
    stroke: var(--msg-secondaryColor);
}

.faq-list {
    .mdc-list-item {
        color: #4f4f4f;

        &.mdc-list-item--with-one-line {
            height: 52px !important;
        }
    }
}