// for search with ai component to show random span creation
// do not remove this if you remove query builder related scss
.segmento-ai-event {
    color: var(--color-common-primary);
    border-bottom: 1px dashed var(--color-common-primary);
}
.segmento-ai-product {
    color: var(--color-whatsApp-primary);
    border-bottom: 1px dashed var(--color-whatsApp-primary);
}
.segmento-ai-operator {
    color: var(--color-short-url-primary);
    border-bottom: 1px dashed var(--color-short-url-primary);
}

.segmento-ai-fields {
    color: var(--color-campaign-primary);
    border-bottom: 1px dashed var(--color-campaign-primary);
}
.segmento-ai-fields-operator {
    color: var(--color-number-primary);
    border-bottom: 1px dashed var(--color-number-primary);
}

// query builder related scss.
.q-control-size select {
    &:hover {
        background-color: var(--color-common-hover) !important;
    }
}

/* segmento query builder */
.q-control-size {
    display: inline-grid;
    vertical-align: top;
    position: relative;
    height: 30px;
    border-right: 1px solid var(--color-common-border) !important;
    width: 150px;
    &:last-child {
        border-right-width: 0px !important;
        width: 200px;
    }
    input,
    textarea,
    select {
        margin: 0;
        padding: 0;
        resize: none;
        border: none;
        font-size: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 99;
        background-color: transparent;
        border: 0px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        padding: 0px 6px;
        font-size: 14px;
        background-color: var(--color-common-white);
        &:disabled {
            border-color: transparent;
        }

        &:focus {
            outline: none;
        }
    }
    select,
    textarea {
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        -moz-appearance: none !important;
        -o-appearance: none;
        -ms-appearance: none;
    }
    input {
        appearance: textfield !important;
        -webkit-appearance: textfield !important;
        -moz-appearance: textfield;
        -moz-appearance: textfield !important;
        -o-appearance: textfield;
        -ms-appearance: textfield;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        -moz-appearance: textfield !important;
        -o-appearance: none;
        -ms-appearance: none;
    }
    select {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3e%3cpath d='m24 30.8-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z'/%3e%3c/svg%3e");
        background-position: right 3px center;
        background-repeat: no-repeat;
        background-size: auto 70%;
        padding-left: 5px;
        padding-right: 24px;
        cursor: pointer;
        @-moz-document url-prefix() {
            padding-left: 0px;
        }
    }

    .placeholder,
    .placeholder-select {
        min-width: 50px;
        visibility: hidden;
        padding: 0px 6px;
    }
    .placeholder-select {
        padding-right: 18px;
        padding-left: 5px;
    }
    // &.q-operator {
    //     margin: 0 3px;
    // }

    .q-input-field-button {
        z-index: 100;
        position: absolute;
        right: 2px;
    }
}
#input-textarea-caret-position-mirror-div {
    display: none !important;
}
