.mat-faqs-btn {
    height: 30px;
    line-height: 30px;
    font-family: var(--msg-fontFamily) !important;
    color: var(--msg-textMsgColor) !important;
}

.selected-channel-body-inner-container {
    inset: 0;
    overflow-x: hidden;
}

/*
header profile img with name style
*/

.header-profile-img-with-name {
    &.profileLarge {
        width: 40px;
        height: 40px;
    }
}
.assigneeName {
    line-height: 20px;
    width: 150px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--msg-fontFamily);
}

.header-profile-img-with-name {
    .profile-name {
        &.profile-1 {
            top: 0;
            z-index: 9;
        }

        &.profile-2 {
            left: 0;
            bottom: 0;
        }

        &.profile-3 {
            right: 0;
            bottom: 0;
        }

        &.profile-name.single {
            position: unset !important;
            top: unset !important;
        }
    }
}
small.indicate-ine {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #a5a5a5;
}

.seen-msg.timeline-penal svg {
    fill: var(--msg-primaryColor) !important;
}

ul.message-ul {
    list-style: none;
}

.timeline-penal {
    svg {
        fill: #d0d0d0;
        height: 14px;
        width: 14px;
        transition: 500ms all;
    }

    small {
        font-size: 10px;
        line-height: 20px;
        margin-right: 9px;
        color: #a1a1a1;
    }
}
.chat-unread-line {
    span {
        background-color: #ffefd8;
        color: #df8500;
        border-radius: 6px;
        line-height: 1.5;
        white-space: break-spaces;
    }
}

.chat-time-line {
    span {
        line-height: 20px;
        color: #393939;
    }
}

::ng-deep.loading-indicator {
    inset: 0;
    &.mat-progress-spinner {
        circle {
            stroke: var(--msg-primaryColor);
        }
    }
}

.online {
    background-color: #0f0;
    box-shadow: 0px 0px 8px 2px #0f0;
}

.away {
    background-color: #ff0;
    box-shadow: 0px 0px 8px 2px #ff0;
}

.head-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep.header-profile-img-with-name {
    &.singleInitial {
        width: 40px;
        height: 40px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    &.multipleInitial {
        width: 35px;
        height: 35px;
    }
}

.h-desc {
    font-weight: 500;
    font-size: 11px;
    margin: -8px;
    padding: 0 16px 0 26px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--msg-fontFamily);
}

.someone-typing {
    .mat-icon {
        height: 16px;
        width: 16px;
        line-height: 16px;
        color: #5f6368;
    }
    .dots-animation {
        bottom: -1px;
        .dot-item {
            width: 2px;
            height: 2px;
            margin-left: 3px;
            background: #687484;
            animation: wave 1.3s linear infinite;

            &:nth-child(2) {
                animation-delay: -1.1s;
            }

            &:nth-child(3) {
                animation-delay: -0.9s;
            }
        }
    }

    @keyframes wave {
        0%,
        60%,
        100% {
            transform: initial;
        }

        30% {
            transform: translateY(-3px);
        }
    }
}
