@use '../../../../../styles.scss' as global;

.mat-button {
    font-family: var(--msg-fontFamily) !important;
}

.widget-chat-view-old-conversation {
    margin-top: -54px;
    .widget-chat-view-old-conversation-inner {
        inset: 0;
    }
    .conversation-card {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
    
        strong {
            line-height: 20px;
            color: #313131;
            font-family: var(--msg-fontFamily) !important;
        }
        .see-all-conversation-btn {
            color: var(--msg-primaryColor) !important;
        }
    }
}




/*Continue Conversation card style*/

.continue-conversation-list-card .profile-group img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #ebebeb;
    box-shadow: 1px 1px 3px #0000005e;
    overflow: hidden;
}

::ng-deep.continue-conversation-list-card .profile-group .profile-name.single .profile-caption {
    width: 40px !important;
    height: 40px !important;
}


.main-card {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    padding: 32px 24px;
    height: calc(100vh - 318px);
    .main-card-title {
        line-height: 32px;
        color: #313131;
        margin-right: 30px;
    }
    .progress {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.widget-header {
    padding: 32px 16px 24px 16px !important;
    border-radius: 16px 16px 40px 40px;
    box-sizing: border-box;
    height: 158px;

    .mat-faqs-btn {
        height: 30px;
        line-height: 30px;
        color: #ffffff !important;
    }

    .h-title {
        line-height: 32px;
        white-space: nowrap;
        width: 240px;
        -webkit-font-smoothing: antialiased;
    }

    .head-logo {
        display: flex;
        align-items: center;
        .logo-img {
            height: 30px !important;
        }
        .logo {
            display: flex;
            align-items: center;
        }
    }
}

.semples-header {
    padding: 32px 16px !important;
    border-radius: 16px 16px 40px 40px;
    box-sizing: border-box;
    height: 104px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);

    .head-logo img {
        height: 23px !important;
    }
    .header-title {
        top: -10px;
        min-height: 33px !important;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--msg-inboundMsg) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--msg-outboundMsg) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--msg-primaryColor) !important;
}

.secondary-color-fill {
    fill: var(--msg-secondaryColor);
}

.video-call {
    position: absolute !important;
    right: 2px;
}
