@mixin button-styles {
    border: none;
    height: 44px;
    width: 44px;
    padding: 0px 8px;
    min-width: 44px;
}
.mat-button {
    font-family: var(--msg-fontFamily) !important;
}

.textarea-bord-container {
    background-color: var(--msg-inboundMsg);

    .bottom-bar {
        .action-button {
            max-width: 110px;
            
            .link-btn {
                @include button-styles;
                .mat-icon {
                    color: #A1A1A1;
                    transform: rotate(30deg);
                }
            }
            
            .send-msg-btn {
                @include button-styles;
                .mat-icon {
                    color: var(--msg-outboundMsg);
                }
            }
        }
    }
    .textarea-bord {
        border: 0;
        padding: 10px 8px 8px 10px;
        min-height: 25px !important;
        resize: none;
        background-color: transparent;
        color: #393939;
        font-family: var(--msg-fontFamily);
        cursor: auto;
        &:focus {
            outline: none;
        }
    
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-size: 14px;
            line-height: 20px;
            color: #a2a2a2;
        }
    
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px;
            line-height: 20px;
            color: #a2a2a2;
        }
    
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            font-size: 14px;
            line-height: 20px;
            color: #a2a2a2;
        }
    }
}

.attach-file {
    right: 0;
    color: #545454;

    .attach-file-wrapper {
        background-color: rgba(0, 0, 0, 0.08);
        height: 36px;
        box-sizing: border-box;

        .remove-attach {
            min-width: 18px;
            height: 22px;
            line-height: 18px;
            .mat-icon {
                color: var(--msg-outboundMsg);
            }
        }
    }
}

.file-preview {
    img {
        width: 34px;
        height: 34px;
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        opacity: 0.8;
    }
    .file-content {
        width: 258px;
        small {
            max-height: 39px;
            overflow-wrap: anywhere;
            white-space: break-spaces;
            font-family: var(--msg-fontFamily);
            line-height: 20px;
            color: #313131;
        }
    }
}