<div class="textarea-bord-container">
    <div class="attach-file" *ngIf="File">
        <div class="attach-file-wrapper">
            <div class="file-preview">
                <img
                    *ngIf="fileType === 'image'"
                    [src]="srcData || appurl + 'assets/img/doc-preview.svg'"
                    (error)="setDefaultPic()"
                    style="opacity: 0.5"
                    loading="lazy"
                />
                <mat-icon
                    class="attach-file-icon"
                    *ngIf="fileType !== 'audio' && fileType !== 'video' && fileType !== 'image'"
                    >insert_drive_file</mat-icon
                >
                <mat-icon class="attach-file-icon" *ngIf="fileType === 'audio'">audiotrack</mat-icon>
                <mat-icon class="attach-file-icon" *ngIf="fileType === 'video'">videocam</mat-icon>

                <div class="file-content">
                    <small
                        >{{ File.name }}
                        {{ fileUploadPercentage > 0 ? fileUploadPercentage?.toFixed(2) + ' %' : '' }}</small
                    >
                    <div *ngIf="fileUploadPercentage > 0">
                        <mat-progress-bar
                            mode="determinate"
                            [value]="+fileUploadPercentage?.toFixed(2)"
                        ></mat-progress-bar>
                    </div>
                </div>
            </div>

            <mat-icon *ngIf="fileUploadError" style="color: red; font-size: 20px"> warning </mat-icon>

            <button
                *ngIf="!(fileUploadPercentage > 0) || fileUploadError"
                (click)="cancelFile()"
                mat-button
                class="remove-attach"
            >
                <mat-icon class="mat-icon-20 m-0" aria-hidden="false" aria-label="close icon" fontIcon="close"></mat-icon>
            </button>
        </div>
    </div>
    <mat-error
        class="mx-2"
        *ngIf="fileFormatNotSupported"
        style="font-size: 12px; display: block; padding: 10px 16px 0px 16px"
        >File format not supported.</mat-error
    >
    <mat-error
        class="mx-2"
        *ngIf="messageContent?.trim().length > allowedMessageSize"
        style="font-size: 12px; display: block; padding: 10px 16px 0px 16px"
        >Message too large.</mat-error
    >

    <div class="bottom-bar">
        <div style="flex-grow: 1; display: inline-flex; min-height: 43px">
            <input
                #fileInput
                (change)="selectFile($event)"
                [multiple]="false"
                hidden
                type="file"
                [disabled]="fileUploadPercentage === 0"
            />

            <input
                #textInput
                (blur)="blurred()"
                (focus)="focused()"
                [disabled]="disable"
                (ngModelChange)="modalChanges($event)"
                (keyup)="checkEnterPress($event)"
                [(ngModel)]="messageContent"
                class="textarea-bord"
                placeholder="Send us a message"
                type="text"
                [hidden]="!isMobileSDK"
            />

            <textarea
                [hidden]="isMobileSDK"
                #textArea
                rows="1"
                autofocus
                (blur)="blurred()"
                (focus)="focused()"
                [disabled]="disable"
                (ngModelChange)="modalChanges($event)"
                (keyup)="checkEnterPress($event)"
                [(ngModel)]="messageContent"
                placeholder="Send us a message"
                class="textarea-bord"
                (keydown)="preventEnterKey($event)"
            ></textarea>
        </div>

        <div class="action-button">
            <button
                (click)="fileInput.click()"
                class="link-btn"
                mat-button
                type="button"
                *ngIf="!fileUploadPercentage || fileUploadPercentage === 0"
            >
                <mat-icon class="mat-icon-20 m-0" aria-hidden="false" aria-label="attach file icon" fontIcon="attach_file"></mat-icon>
            </button>
            <button
                (click)="sendMessage()"
                *ngIf="(messageContent?.trim().length || File) && showSendButton"
                class="send-msg-btn"
                mat-button
            >
                <mat-icon class="mat-icon-20 m-0" aria-hidden="false" aria-label="send icon" fontIcon="send"></mat-icon>
            </button>
        </div>
    </div>
</div>
