@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}

@media (min-width: 768px) {
  body {
    font-size: 16px !important;
    line-height: 1.5 !important;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px !important;
    line-height: 1.4 !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
}

@layer components {
  .animate-slide-left {
    @apply animate-[slideLeft_0.3s_ease-in-out];
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html:has(.drawer-toggle:checked) {
  overflow-y: hidden;
  scrollbar-gutter: auto;
}

.message-card-backround {
  @apply border border-base-200 rounded-lg p-3 bg-base-100;
}

html[data-theme='dark'] .message-card-backround {
  @apply border-slate-700;
  background-color: #1f2937;
}