.team-list-body-container {
    .team-list-body-inner-container {
        margin-bottom: 32px !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
        border-radius: 6px;
    }
}

.team-message-list-card .team-profile-group {
    width: 35px;
    height: 35px;
    min-width: 35px;
}

.team-message-list-card {
    .team-profile-group {
        .profile-name {
            &.team-profile-1 {
                top: 0;
                z-index: 9999;
            }

            &.team-profile-2 {
                left: 0;
                bottom: 0;
            }

            &.team-profile-3 {
                right: 0;
                bottom: 0;
            }
        }
    }
}

.team-message-list-text-content strong {
    width: 172px;
    line-height: 18px;
    color: #4f4f4f;
}

button.team-c-btn {
    border: unset;
    background-color: unset;
    background-color: unset;
    min-width: 24px;
    height: 24px;

    &:focus {
        outline: unset !important;
    }
}

.team-list-body-inner-container {
    .main-team-channel {
        height: 48px !important;
        &:last-child {
            border-bottom: 0px !important;
        }
    }
}

::ng-deep.main-team-channel {
    padding: 12px 16px !important;
    border-bottom: 1px solid #e3e3e4 !important;
    line-height: 1 !important;

    span.mat-button-wrapper {
        width: 100%;
    }
}