<div class="team-list-body-container flex-1 position-relative">
    <div class="team-list-body-inner-container">
        <ng-container *ngIf="teams$ | async as teams">
            <button (click)="selectTeam(team.id)" *ngFor="let team of teams" class="main-team-channel d-flex align-items-center text-left ml-0 w-100 fw-normal rounded-0" mat-button>
                <div class="team-message-list-card position-relative d-flex align-items-center w-100">
                    <div class="team-profile-group position-relative d-flex align-items-center justify-content-center" *ngIf="teamAssignees$[team.id] | async as assignees">
                        <ng-container *ngFor="let assignee of assignees; let i = index">
                            <msg91-profile-name
                                [ngClass]="{
                                    single: assignees?.length === 1,
                                    'team-profile-1': i === 0,
                                    'team-profile-2': i === 1,
                                    'team-profile-3': i === 2
                                }"
                                [hashCode]="assignee | getHashCode"
                                [shortName]="assignee | getShortName"
                                class="profile-name position-absolute"
                                [width]="22"
                                [height]="22"
                                [aProfileClass]="assignees?.length === 1 ? 'profileSingle' : 'profileSmall'"
                            >
                            </msg91-profile-name>
                        </ng-container>
                    </div>

                    <div class="team-message-list-text-content d-flex flex-column ml-2 flex-1">
                        <strong class="text-capitalize d-block font-14 text-dotted fw-normal"> {{ team.name }}</strong>
                    </div>

                    <button class="team-c-btn p-0 d-flex align-items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.58984 7.41L13.1698 12L8.58984 16.59L9.99984 18L15.9998 12L9.99984 6L8.58984 7.41Z"
                                fill="var(--msg-primaryColor)"
                            />
                        </svg>
                    </button>
                </div>
            </button>
        </ng-container>
    </div>
</div>
