@mixin hoverSideMenu($primary-color, $primary-color-dark, $primary-color-light, $color) {
    // &.mat-expanded {
    //     background: $primary-color-light !important;
    // }
    .mat-expansion-panel-header {
        &:hover {
            background-color: $primary-color-light !important;
            .mat-line {
                color: $color !important;
            }
            .mat-icon {
                color: $color;
                svg {
                    path {
                        fill: $color !important;
                    }
                }
            }
            .mat-expansion-indicator {
                &::after {
                    color: $color !important;
                }
            }
        }
    }
    .mat-list-item {
        &.active-list-item,
        &:hover {
            background: $primary-color !important;
            color: $color !important;
            &:before {
                content: '';
                border-color: $primary-color-dark;
            }
        }
    }
}

@mixin hoverMenu($primary-color, $primary-color-dark, $primary-color-light, $color) {
    .mat-menu-content {
        .mat-menu-item {
            &:hover {
                background-color: $primary-color-light;
                color: $color !important;
                // .mat-icon{
                //     color: $color !important;
                // }
            }
        }
    }
}

@mixin sideNavHoverActiveState($primary-color, $primary-color-light, $active-color, $hover-color) {
    &.active-list-item {
        .mat-line {
            font-weight: 500 !important;
            color: $active-color !important;
        }
        background: $primary-color !important;
        .mat-icon {
            color: $active-color !important;
            &.menu-svg-icon {
                > svg {
                    color: var(--color-email-primary);
                    path {
                        fill: $active-color;
                    }
                }
            }
        }
    }
    &:not(.active-list-item):hover {
        background: $primary-color-light !important;
        .mat-line {
            color: $hover-color !important;
        }
        .mat-icon {
            color: $hover-color;
            &.menu-svg-icon {
                svg {
                    path {
                        fill: $hover-color;
                    }
                }
            }
        }
        // &:before {
        //     content: '';
        //     border: 2px solid $primary-color-dark;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     bottom: 0;
        //     border-radius: 0px 6px 6px 0px;
        // }
    }
}
