// Used Hello KB edit page
.fr-element.fr-view {
    word-break: break-word;
    a {
        color: var(--color-link);
    }
}

// Hello Inbox Settings
.signature-text-area .fr-box {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    padding: 10px;
}

// .fr-box.fr-basic,
.fr-element.fr-view {
    font-size: var(--font-size-common-14);
    * {
        margin: 0;
    }
}

.fr-box-for-cc {
    .fr-box {
        border: 0px !important;
        border-radius: 0px !important;
    }
}

.fr-command.fr-btn.fr-active + .fr-dropdown-menu {
    margin-top: 6px !important;
}
.fr-toolbar .fr-btn-grp {
    margin: 0px !important;
}

.mail-msg-composer {
    .fr-box {
        .fr-toolbar {
            .fr-btn-grp {
                button {
                    margin-left: 0px !important;
                }
            }
        }
    }
    &.email-composer-editor {
        .fr-wrapper {
            overflow-y: auto !important;
            max-height: 312px !important;
        }
        .fr-box {
            z-index: 9 !important;
        }
        .fr-toolbar {
            position: sticky;
            bottom: 8px;
            right: -4px;
            left: auto;
            border-radius: var(--border-common-radius);
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
            min-height: 48px;
            border-width: 0px;
            width: 564px;
            padding: 0px 10px;
            z-index: 999;
        }
    }
    &.mail-notes-froala {
        .fr-wrapper {
            min-height: 140px !important;
            max-height: 140px !important;
        }
        .fr-toolbar {
            position: absolute;
            bottom: 8px !important;
            right: auto;
            left: 0px;
            border-radius: var(--border-common-radius) !important;
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
            min-height: 48px;
            border-width: 0px;
            width: 230px;
            padding: 0px 10px;
            z-index: 999;
        }
    }
}

.mail-composer-wrapper {
    &.full-screen-compose {
        --attachment-height: 0px;
        .fr-wrapper {
            max-height: calc(100vh - 175px - 166px - 106px - var(--attachment-height)) !important;
        }
        &:has(.mail-attachment-box, .attachment-loader) {
            --attachment-height: 104px;
        }
    }
}
.resized-notes-input {
    .fr-element-scroll-visible {
        min-height: 23px !important;
    }
    .fr-toolbar {
        border-radius: var(--border-common-radius-4) !important;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
        min-height: 48px;
        border-width: 0px;
        width: 230px;
        padding: 0px 10px;
        z-index: 999;
    }
    .fr-box {
        .fr-toolbar {
            .fr-btn-grp {
                button {
                    margin-left: 0px !important;
                }
            }
        }
    }
}

.fr-box.fr-basic.fr-bottom .fr-wrapper {
    border-radius: 0px !important;
    background-color: var(--color-common-white) !important;
}

// For Tribute Height
.tribute-container {
    max-height: 230px !important;
}

.fr-dropdown-menu[aria-labelledby^='linkList-'] {
    top: 36px !important;
    bottom: auto !important;
}
.fr-box.fr-inline.fr-code-view .fr-command.fr-btn.html-switch {
    top: 5px;
    right: 15px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: var(--color-common-white);
    color: var(--color-common-dark);
    border-radius: var(--border-common-radius-4);
    &:hover {
        background-color: var(--color-common-primary) !important;
        color: var(--color-common-white);
    }
}

// To change background color transparent on notes
.froala-for-notes {
    .fr-box.fr-basic.fr-bottom .fr-wrapper {
        background-color: transparent !important;
    }
}
