::ng-deep.feedback-card {
    margin-top: 33px;
    box-shadow: none !important;
    border: 1px solid #d5d9dc !important;

    .feedback-logo-wrapper {
        height: 40px;
    }
}
textarea {
    resize: none !important;
}

::ng-deep.feedbak-textarea {
    
    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            .mat-mdc-input-element {
                font-size: 14px;
                color: #393939;

                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    font-size: 14px;
                    line-height: 20px;
                    color: #a2a2a2;
                    font-family: var(--msg-fontFamily);
                }
                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    font-size: 14px;
                    line-height: 20px;
                    color: #a2a2a2;
                    font-family: var(--msg-fontFamily);
                }
                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    font-size: 14px;
                    line-height: 20px;
                    color: #a2a2a2;
                    font-family: var(--msg-fontFamily);
                }
            }
        }
    }
    .mat-mdc-form-field-error {
        font-size: 12px;
    }
}
::ng-deep.form-btn {
    .mat-mdc-unelevated-button:not(:disabled) {
        background-color: var(--msg-primaryColor);
    }
}

h3.feedback-label {
    line-height: 20px;
    color: #212528;
    font-family: var(--msg-fontFamily);
}

.select-emoji {
    .button {
        border-radius: 100%;
        cursor: pointer;
    
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    
        .selected-feedback {
            display: block;
            transition: transform 500ms;
        }
        svg {
            height: 32px;
            width: 32px;
            .main-ground {
                fill: #dadada;
            }
        
            .main-ground-red {
                fill: #636363;
            }
        }
        &:hover {
            .selected-feedback {
                transform: scale(1.4);
                svg {
                    .main-ground {
                        fill: #ffc10e;
                    }
            
                    .main-ground-1 {
                        fill: #333333;
                    }
            
                    .main-ground-red {
                        fill: #ed3533;
                    }
                }
            }
        }
        &.rating-disabled {
            &:hover {
                .selected-feedback {
                    transform: unset !important;
                    svg {
                        .main-ground {
                            fill: #dadada;
                        }
                
                        .main-ground-red {
                            fill: #636363;
                        }
                    }
                }
            }
        }
        input:checked ~ .selected-feedback {
            transform: scale(1.8) !important;

            svg {
                .main-ground {
                    fill: #ffc10e;
                }
        
                .main-ground-1 {
                    fill: #333333;
                }
        
                .main-ground-red {
                    fill: #ed3533;
                }
            }
        }
    }
}

.full-fill-feedback {
    width: 60%;
    border: 0px solid gainsboro;
    box-shadow: unset;
    background-color: var(--msg-inboundMsg);
    border-radius: 8px;
    border-top-left-radius: 0;

    .button {
        padding: 7px !important;
    }

    .select-emoji .button svg {
        height: 21px !important;
        width: 21px !important;
    }

    .feedback-msg {
        strong {
            font-size: 12px;
        }
        p {
            margin: 8px 0px;
            font-size: 12px;
            line-height: 1.5;
        }
    } 
}

.feedback-label {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
