<mat-card [class.full-fill-feedback]="message?.feedbackGiven" class="feedback-card">
    <div class="feedback-logo-wrapper" *ngIf="feedbackSetting?.logo">
        <img [src]="feedbackSetting.logo" alt="Brand Logo" loading="lazy" height="40" />
    </div>
    <h3 *ngIf="!message?.feedbackGiven && feedbackSetting?.text" class="feedback-label">
        {{ feedbackSetting.text | replace: variableMapping }}
    </h3>

    <h3 *ngIf="message?.feedbackGiven" class="feedback-label">Thanks for Your feedback</h3>

    <form [formGroup]="feedbackForm">
        <div class="select-emoji">
            <label
                [class.rating-disabled]="message?.feedbackGiven"
                class="button"
                *ngIf="!message?.feedbackGiven || (message?.feedbackGiven && message?.rating === ratings.terrible)"
            >
                <input
                    [attr.disabled]="message?.feedbackGiven"
                    formControlName="rating"
                    type="radio"
                    [value]="ratings.terrible"
                />
                <span class="selected-feedback" (click)="selectRating(ratings.terrible)">
                    <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 473.935 473.935"
                        version="1.1"
                        viewBox="0 0 473.935 473.935"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        y="0px"
                    >
                        <circle class="main-ground" cx="236.967" cy="236.967" r="236.967" />
                        <g>
                            <path
                                class="main-ground-1"
                                d="M357.318,354.8c-66.084-68.291-174.663-68.288-240.743,0.007
		c-8.389,8.666,4.827,21.912,13.227,13.227c59.139-61.118,155.146-61.122,214.288-0.007
		C352.491,376.708,365.711,363.466,357.318,354.8L357.318,354.8z"
                            />
                            <circle class="main-ground-1" cx="164.938" cy="192.665" r="37.216" />
                            <circle class="main-ground-1" cx="305.667" cy="192.665" r="37.216" />
                            <path
                                class="main-ground-1"
                                d="M316.364,68.389c-28.677,28.673-57.35,57.35-86.024,86.024c4.408,0,8.819,0,13.227,0
		c-28.673-28.677-57.347-57.35-86.02-86.024c-8.539-8.539-21.766,4.688-13.227,13.227c28.673,28.677,57.347,57.35,86.02,86.024
		c3.603,3.603,9.624,3.603,13.227,0c28.677-28.673,57.35-57.35,86.024-86.024C338.13,73.077,324.899,59.846,316.364,68.389
		L316.364,68.389z"
                            />
                        </g>
                    </svg>
                </span>
            </label>
            <label
                [class.rating-disabled]="message?.feedbackGiven"
                class="button"
                *ngIf="!message?.feedbackGiven || (message?.feedbackGiven && message?.rating === ratings.bad)"
            >
                <input
                    [attr.disabled]="message?.feedbackGiven"
                    formControlName="rating"
                    type="radio"
                    [value]="ratings.bad"
                />
                <span class="selected-feedback" (click)="selectRating(ratings.bad)">
                    <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 473.935 473.935"
                        version="1.1"
                        viewBox="0 0 473.935 473.935"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        y="0px"
                    >
                        <circle class="main-ground" cx="236.967" cy="236.967" r="236.967" />
                        <g>
                            <path
                                class="main-ground-1"
                                d="M356.671,354.1c-66.226-67.618-174.255-67.337-240.096,0.703
		c-8.389,8.666,4.827,21.912,13.227,13.227c58.87-60.83,154.386-61.204,213.641-0.703C351.896,375.96,365.116,362.721,356.671,354.1
		L356.671,354.1z"
                            />
                            <circle class="main-ground-1" cx="164.938" cy="155.232" r="37.216" />
                            <circle class="main-ground-1" cx="305.667" cy="155.232" r="37.216" />
                        </g>
                    </svg>
                </span>
            </label>
            <label
                [class.rating-disabled]="message?.feedbackGiven"
                class="button"
                *ngIf="!message?.feedbackGiven || (message?.feedbackGiven && message?.rating === ratings.ok)"
            >
                <input
                    [attr.disabled]="message?.feedbackGiven"
                    formControlName="rating"
                    type="radio"
                    [value]="ratings.ok"
                />
                <span class="selected-feedback" (click)="selectRating(ratings.ok)">
                    <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 473.931 473.931"
                        version="1.1"
                        viewBox="0 0 473.931 473.931"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        y="0px"
                    >
                        <circle class="main-ground" cx="236.966" cy="236.966" r="236.966" />
                        <g>
                            <circle class="main-ground-1" cx="164.937" cy="155.231" r="37.216" />
                            <circle class="main-ground-1" cx="305.664" cy="155.231" r="37.216" />
                            <path
                                class="main-ground-1"
                                d="M105.278,326.581c86.386,0,172.776,0,259.162,0c12.067,0,12.067-18.709,0-18.709
		c-86.386,0-172.776,0-259.162,0C93.211,307.872,93.211,326.581,105.278,326.581L105.278,326.581z"
                            />
                        </g>
                    </svg>
                </span>
            </label>
            <label
                [class.rating-disabled]="message?.feedbackGiven"
                class="button"
                *ngIf="!message?.feedbackGiven || (message?.feedbackGiven && message?.rating === ratings.good)"
            >
                <input
                    [attr.disabled]="message?.feedbackGiven"
                    formControlName="rating"
                    type="radio"
                    [value]="ratings.good"
                />
                <span class="selected-feedback" (click)="selectRating(ratings.good)">
                    <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 473.931 473.931"
                        version="1.1"
                        viewBox="0 0 473.931 473.931"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        y="0px"
                    >
                        <circle class="main-ground" cx="236.966" cy="236.966" r="236.966" />
                        <g>
                            <path
                                class="main-ground-1"
                                d="M383.164,237.123c-1.332,80.699-65.514,144.873-146.213,146.206
		c-80.702,1.332-144.907-67.52-146.206-146.206c-0.198-12.052-18.907-12.071-18.709,0c1.5,90.921,73.993,163.414,164.914,164.914
		c90.929,1.5,163.455-76.25,164.922-164.914C402.071,225.052,383.362,225.071,383.164,237.123L383.164,237.123z"
                            />
                            <circle class="main-ground-1" cx="164.937" cy="155.227" r="37.216" />
                            <circle class="main-ground-1" cx="305.664" cy="155.227" r="37.216" />
                        </g>
                    </svg>
                </span>
            </label>
            <label
                [class.rating-disabled]="message?.feedbackGiven"
                class="button"
                *ngIf="!message?.feedbackGiven || (message?.feedbackGiven && message?.rating === ratings.amazing)"
            >
                <input
                    [attr.disabled]="message?.feedbackGiven"
                    formControlName="rating"
                    type="radio"
                    [value]="ratings.amazing"
                />
                <span class="selected-feedback" (click)="selectRating(ratings.amazing)">
                    <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 473.931 473.931"
                        version="1.1"
                        viewBox="0 0 473.931 473.931"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        y="0px"
                    >
                        <circle class="main-ground" cx="236.966" cy="236.966" r="236.966" />
                        <g>
                            <path
                                class="main-ground-red"
                                d="M182.13,109.97c-14.133,0-27.262,6.892-35.154,18.432l-1.628,2.069l-1.089-1.388
		c-7.802-11.962-20.954-19.109-35.232-19.109c-24.363,0-42.042,17.684-42.042,42.039c0,35.962,65.107,88.968,69.855,92.784
		c2.241,2.144,5.175,3.323,8.288,3.323s6.047-1.175,8.288-3.326c4.763-3.847,70.753-57.683,70.753-92.781
		C224.169,127.654,206.489,109.97,182.13,109.97z"
                            />
                            <path
                                class="main-ground-red"
                                d="M366.696,109.97c-14.133,0-27.262,6.892-35.154,18.432l-1.628,2.069l-1.089-1.388
		c-7.802-11.962-20.954-19.109-35.232-19.109c-24.363,0-42.042,17.684-42.042,42.039c0,35.962,65.107,88.968,69.855,92.784
		c2.241,2.144,5.175,3.323,8.288,3.323c3.109,0,6.043-1.175,8.288-3.326c4.76-3.843,70.749-57.683,70.749-92.781
		C408.735,127.654,391.055,109.97,366.696,109.97z"
                            />
                        </g>
                        <path
                            class="main-ground-1"
                            d="M343.254,316.86c-59.281,60.325-154.662,59.853-213.449-0.898c-8.4-8.681-21.616,4.561-13.227,13.227
	c65.769,67.969,173.644,68.332,239.903,0.898C364.941,321.481,351.718,308.246,343.254,316.86L343.254,316.86z"
                        />
                    </svg>
                </span>
            </label>
        </div>

        <mat-form-field *ngIf="!message?.feedbackGiven" appearance="outline" class="w-100 feedbak-textarea">
            <!-- <mat-label>Textarea</mat-label> -->
            <textarea
                formControlName="feedback_msg"
                matInput
                placeholder="Share your feedback here ..."
                rows="3"
            ></textarea>
            <mat-error *ngIf="feedbackForm?.controls?.feedback_msg?.hasError('required')"
                >Feedback message is required.</mat-error
            >
        </mat-form-field>

        <div *ngIf="message?.feedbackGiven" class="feedback-msg">
            <p class="feedback-label">Your feedback message</p>
            <p class="feedback-label">
                {{ message.feedback_msg }}
            </p>
        </div>

        <div *ngIf="!message?.feedbackGiven" class="form-btn">
            <button (click)="submit()" color="primary" mat-flat-button type="submit" [disabled]="feedbackForm?.invalid">
                Submit
            </button>
        </div>
    </form>
</mat-card>
