.mat-faqs-btn {
    height: 30px;
    line-height: 30px;
    font-family: var(--msg-fontFamily);
}
.all-conversation {
    padding: 32px 16px !important;
    border-radius: 16px 16px 40px 40px;
    box-sizing: border-box;
    height: 104px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
    h3 {
        line-height: 20px;
    }
}

.channels-body-inner-container {
   inset: 0;
}