.msg91-donut-chart-slider {
    &.mat-mdc-slider-horizontal .mat-mdc-slider-wrapper {
        .mat-mdc-slider-thumb-container {
            .mat-mdc-slider-thumb-label {
                height: 55px;
                width: 55px;
                right: -27px;
                top: -80px;
                display: flex !important;
            }
            .mat-mdc-slider-thumb-label-text {
                text-align: center;
            }
        }
    }
}
