@use '@angular/material' as mat;
@import '../theme/theme-colors';
// @import '../utils/mixins/common-utils';

$primary-btn-height: 40px;
$secondary-btn-height: 30px;
// # Buttons
.mat-button-base {
    &.mat-flat-button,
    &.mat-stroked-button,
    &.mat-button {
        border-radius: var(--border-common-radius-4);
        min-width: auto !important;
        transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
        line-height: $primary-btn-height;
        &.mat-button-disabled {
            background-color: var(--color-common-bg-lighter) !important;
            font-weight: 400 !important;
        }
        &.btn-medium {
            line-height: $secondary-btn-height !important;
            font-size: var(--font-size-common-12);
        }
    }
    // 1. Flat button
    &.mat-flat-button {
        transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
        // Flat button color variation
        &.flat-default {
            @include btnHover(var(--color-button-text), var(--color-button-bg), var(--color-button-hover));
        }
        &.flat-primary-light {
            @include btnHover(
                var(--color-common-primary),
                var(--color-common-primary-light),
                var(--color-common-primary-light-hover)
            );
        }
        &.flat-primary {
            background-color: var(--color-common-primary-light);
            color: var(--color-common-primary);
        }
        &.btn-success {
            @include btnHover(
                var(--color-common-white),
                var(--color-whatsApp-primary),
                var(--color-whatsApp-primary-hover),
                var(--color-common-white)
            );
        }
        &.btn-success-light {
            @include btnHover(
                var(--color-whatsApp-primary),
                var(--color-whatsApp-primary-light),
                var(--color-whatsApp-primary),
                var(--color-common-white)
            );
        }
        &.btn-danger-light {
            @include btnHover(
                var(--color-email-primary),
                var(--color-email-primary-light),
                var(--color-email-primary),
                var(--color-common-white)
            );
        }
        // Hover state
        &.mat-primary {
            &:hover {
                background-color: var(--color-common-primary-dark);
            }
        }
        &.mat-success {
            border-color: var(--color-whatsApp-primary) !important;
            background-color: var(--color-whatsApp-primary);
            color: var(--color-common-white);
            &:hover {
                background-color: var(--color-whatsApp-primary-hover);
            }
        }
        // Hover state
        &.mat-warn {
            @include btnHover(
                var(--color-common-white),
                var(--color-email-primary),
                var(--color-email-primary-hover),
                var(--color-common-white)
            );
        }
        // Flat Icon button
        &.flat-icon-btn {
            padding: 0px 12px;
        }
        &.remove-mat-button-focus-overlay {
            .mat-button-focus-overlay {
                display: none;
            }
        }
    }
    // 2. Icon suffix
    .mat-icon-suffix {
        margin-right: calc(12px - 16px);
        margin-left: 4px;
        margin-bottom: 2px;
    }
    // 3. Icon prefix
    .mat-icon-prefix {
        margin-left: calc(12px - 16px);
        margin-right: 4px;
        margin-bottom: 2px;
    }
    // 4. Mat Button
    &.mat-button {
        @include btnHover(var(--color-button-text), transparent, var(--color-button-bg));

        &.mat-primary {
            @include btnHover(
                var(--color-common-primary),
                transparent,
                var(--color-common-primary-light),
                var(--color-common-primary)
            );
        }
        &.mat-warn {
            @include btnHover(
                var(--color-email-primary),
                transparent,
                var(--color-email-primary-light),
                var(--color-email-primary)
            );
        }
    }
    // 5. Mat Stroked Button
    &.mat-stroked-button {
        line-height: 38px;
        &:not(.mat-primary):not(.mat-success):not(.mat-warn) {
            border-color: var(--color-common-grey) !important;
            color: var(--color-common-grey) !important;
        }
        &.mat-primary {
            border-color: var(--color-primary-color) !important;
            @include btnHover(var(--color-common-primary), transparent, var(--color-common-primary-light));
        }
        &.mat-warn {
            border-color: var(--color-email-primary) !important;
            @include btnHover(var(--color-email-primary), transparent, var(--color-email-primary-light));
        }
        &.mat-success {
            border-color: var(--color-whatsApp-primary) !important;
            @include btnHover(var(--color-whatsApp-primary), transparent, var(--color-whatsApp-primary-light));
        }
    }
    &.remove-mat-button-focus-overlay {
        .mat-button-focus-overlay {
            display: none;
        }
    }
}

/* 6. Icon Button */
.mat-icon-button {
    &.icon-btn-md {
        @include generateIconBtn(30px, 18px, var(--color-common-text-2));
    }
    &.icon-btn-sm {
        @include generateIconBtn(20px, 12px, var(--color-common-text-2));
    }
    &.mat-primary {
        @include iconBtnHover(
            var(--color-common-text-2),
            var(--color-common-primary-light),
            var(--color-common-primary),
            $isActiveClass: true
        );
    }
    &.mat-warn {
        @include iconBtnHover(var(--color-common-text-2), var(--color-email-primary-light), var(--color-email-primary));
    }
    &.mat-success {
        @include iconBtnHover(
            var(--color-common-text-2),
            var(--color-whatsApp-primary-light),
            var(--color-whatsApp-primary)
        );
    }
    &.mat-default {
        &:hover {
            background-color: var(--color-common-bg-lighter-hover);
        }
    }
    &.mat-button-disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}

/* 7. Mat Toggle Button */

// Toggle Button Dark theme color - https://prnt.sc/VLNX9sidedWM
.custom-toggle-btn {
    border-radius: var(--border-common-radius-4) !important;
    .mat-button-toggle {
        font-size: var(--font-size-common-12);
        font-weight: 600;
        color: var(--color-common-text);
        border-color: var(--color-common-border);
        &.mat-button-toggle-checked {
            background-color: var(--color-common-primary) !important;
            color: var(--color-common-white) !important;
        }
        &.mat-button-toggle-appearance-standard {
            .mat-button-toggle-label-content {
                line-height: 36.5px !important;
            }
        }
    }
}

// 8. Toggle Button light theme color - https://prnt.sc/wY6YBUSpVDQF
.default-toggle-btn {
    border-radius: var(--border-common-radius-4) !important;
    border: none !important;
    box-shadow: none !important;
    &.full-width {
        .mat-button-toggle {
            width: 100%;
        }
    }
    .mat-button-toggle {
        font-size: var(--font-size-common-14);
        font-weight: 400;
        color: var(--color-common-text);
        border-color: var(--color-common-border);
        &.mat-button-min {
            min-width: 48px;
            &.mat-micro-button {
                min-width: 45px;
                @include media-breakpoint-down('phone') {
                    &.mat-button-toggle-appearance-standard {
                        .mat-button-toggle-label-content {
                            padding: 0px 0px;
                        }
                    }
                }
            }
        }

        &.mat-button-toggle-appearance-standard {
            background-color: var(--color-common-bg-lighter);
            color: var(--color-common-rock) !important;
            .mat-button-toggle-label-content {
                padding: 0px 16px;
                line-height: $primary-btn-height !important;
            }
            &.mat-button-toggle-checked {
                font-weight: 500;
                background-color: var(--color-common-primary-light);
                color: var(--color-common-primary) !important;
                &:hover {
                    background-color: var(--color-common-primary-light-hover);
                }
            }
        }
        &:hover {
            background-color: var(--color-common-bg-lighter-hover);
            .mat-button-toggle-focus-overlay {
                background-color: transparent !important;
                opacity: 1 !important;
            }
        }
    }

    /* params - appearanceType = 'icon-type' */
    @include create-toggle-appearance-button('icon-type');
    @include create-toggle-appearance-button('fill-grey');
    @include create-toggle-appearance-button('fill-white');
    @include create-toggle-appearance-button('outline');
    &.toggle-hover-primary {
        .mat-button-toggle {
            &:hover {
                background-color: var(--color-common-primary-light);
                color: var(--color-common-primary) !important;
                .mat-button-toggle-focus-overlay {
                    background-color: transparent !important;
                    opacity: 1 !important;
                }
            }
        }
    }
    /* params - $buttonSize, $buttonWidth */
    /* toggle-button-md */
    @include toggle-button-size('md', 70px);
    /* toggle-button-sm */
    @include toggle-button-size('sm', 85px, 36px);
}

// 9. This Class use for bottom right button to show/hide widget and Sip Calling FAB button
// Button reference - https://prnt.sc/L6SCeu7ado7n

.float-toggle-btn {
    z-index: 9999;
    position: fixed;
    right: -15px;
    bottom: 27px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        right: 0px;
    }

    .toggle-btn {
        box-shadow: 0 1px 1px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border: 0px;
        width: 45px;
        padding: 13px 0 10px 5px;
        height: 48px;
        cursor: pointer;
        display: flex;
        align-content: center;

        &.open {
            i {
                transform: rotate(180deg);
            }
        }

        i {
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            &:before {
                font-family: 'Material Icons';
                content: '\e5cb';
            }
        }
    }
}

// 10. Mat slide toggle button design reference - https://prnt.sc/DDH-z4jHnmH5
.mat-slide-toggle {
    &.toggle-slide {
        .mat-slide-toggle-content {
            color: var(--color-common-white);
        }
    }
    &.mat-checked {
        .mat-slide-toggle-bar {
            background-color: var(--color-whatsApp-primary-light) !important;
        }
        .mat-slide-toggle-thumb {
            background-color: var(--color-whatsApp-primary) !important;
        }
    }
    &.mat-disabled {
        .mat-slide-toggle-bar {
            background-color: var(--color-common-grey);
        }
        .mat-slide-toggle-thumb {
            background-color: var(--color-common-slate) !important;
        }
    }
}

// 11. Button size
.mat-btn-md {
    min-height: 26px;
    line-height: 30px !important;
    font-size: var(--font-size-common-12) !important;
    &.mat-btn-wran {
        border-color: mat.get-color-from-palette($warn) !important;
    }
}
.mat-btn-xs {
    @media only screen and (max-width: 660px) {
        padding-left: 12px !important;
        padding-right: 12px !important;
        .mat-icon {
            margin: 0px;
        }
    }
}

// 12. Sort Button Only Show on mobile to short table data
.bottom-sort-btn {
    display: none !important;
    @media only screen and (max-width: 768px) {
        display: block !important;
    }
}

// 13. Disabled Action on permission basis
.disabled-action,
button:disabled,
button[disabled],
button:hover:disabled,
button:hover[disabled],
button.mat-btn-md.mat-btn-warn:disabled,
button.mat-btn-md.mat-btn-warn[disabled],
button.mat-btn-md.mat-btn-warn:hover:disabled,
button.mat-btn-md.mat-btn-warn:hover[disabled] {
    pointer-events: none;
    color: var(--color-common-grey) !important;
    border-color: var(--color-common-grey) !important;
    .mat-icon {
        opacity: 0.7 !important;
    }
}

.top-bottom-left-radius-none {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.top-bottom-right-radius-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

// otp-widget-radio-btn
.radio-wrap {
    .mat-radio-button {
        .mat-radio-container,
        .mat-radio-outer-circle,
        .mat-radio-inner-circle {
            width: 16px;
            height: 16px;
        }
    }
}

.radio-btn-label-wrap {
    .mat-radio-label {
        white-space: wrap;
    }
}
