@use '@angular/material' as mat;
@import '../theme/theme-colors';

// Default theme changes
.mat-form-field {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                .mat-form-field-label-wrapper {
                    .mat-form-field-label {
                        color: var(--color-common-slate);
                    }
                }
            }
        }
        .mat-form-field-hint-wrapper {
            .mat-hint {
                color: var(--color-common-slate);
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    // Wrote this css to fix issue :: https://prnt.sc/_hgM_LYR5GX-
    &.select-trigger-chip-input {
        .mat-select-trigger {
            height: auto;
        }
    }

    // Use to add max height in form field with chip list
    &.chip-list-form-scroll {
        .mat-chip-list-wrapper {
            max-height: 250px;
            overflow: scroll;
        }
    }
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    font-size: var(--font-size-common-14);
    line-height: 1.22;
}
.mat-select-arrow-wrapper {
    vertical-align: baseline !important;
}

.custome-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
}

.form-field-disabled {
    &.mat-form-field-disabled {
        .mat-form-field-wrapper {
            .mat-input-element {
                &:disabled {
                    color: rgba(0, 0, 0, 0.58);
                }
            }
            .mat-form-field-outline {
                background-color: #e6e6e640 !important;
            }
            .option-loader {
                background-color: #e6e6e640 !important;
            }
        }
    }
}

.mat-form-field {
    &.form-field-no-border {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-outline {
                    .mat-form-field-outline-start,
                    .mat-form-field-outline-end {
                        border-width: 0px !important;
                    }
                }
            }
        }
    }
    &.lg-input-text {
        .mat-form-field-wrapper {
            padding-bottom: 0px !important;
            .mat-form-field-flex {
                display: flex;
                align-items: center;
                .mat-form-field-infix {
                    padding: 1px 0 3px 0 !important;
                    input {
                        border-width: 0px !important;
                        font-size: var(--font-size-common-32);
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &.mat-form-field-appearance-legacy {
        &.mat-legacy-form-field-sm {
            .mat-form-field-wrapper {
                padding-bottom: 0px;
            }
            .mat-form-field-infix {
                border-top: 0px !important;
                padding: 8px 0 4px 0 !important;
                max-width: 100%;
                width: 100%;
                font-size: 14px;
            }
            .mat-form-field-suffix {
                button {
                    width: 23px;
                    height: 23px;
                    min-height: 23px;
                    line-height: 23px;
                }
            }
            .mat-form-field-underline {
                bottom: 0px !important;
            }
            .mat-form-field-subscript-wrapper {
                top: calc(100% - 5px);
                .mat-error {
                    font-size: var(--font-size-common-12);
                }
            }
            .mat-form-field-label {
                top: 1.00125em !important;
            }
        }
        &.mat-form-field-disabled {
            .mat-form-field-underline {
                background-image: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.42) 0%,
                    rgba(0, 0, 0, 0.42) 33%,
                    transparent 0%
                ) !important;
                background-size: 4px 100% !important;
                background-repeat: repeat-x !important;
            }
            input.mat-input-element {
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }
    &.mat-form-field-disabled {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-outline {
                    background-color: var(--color-common-silver) !important;
                    border-radius: var(--border-common-radius-4) !important;
                }
            }
        }
    }
    .mat-form-field-subscript-wrapper {
        font-size: 12px;
        margin-top: 4px !important;
    }
}

// Default form field
.mat-form-field {
    .mat-form-field-infix {
        padding: 5px 0 10px 0 !important;
        .mat-input-element {
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: var(--color-common-grey);
                font-weight: normal;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: var(--color-common-grey);
                font-weight: normal;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: var(--color-common-grey);
                font-weight: normal;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: var(--color-common-grey);
                font-weight: normal;
            }
        }
        .mat-form-field-label-wrapper {
            .mat-form-field-required-marker {
                display: none;
            }
        }
        &.mat-form-field-appearance-outline {
            .mat-form-field-outline {
                background-color: var(--color-common-white) !important;
            }
        }
    }
    .mat-form-field-flex {
        .mat-form-field-outline {
            .mat-form-field-outline-start {
                border-radius: var(--border-common-radius-4) 0 0 var(--border-common-radius-4);
                min-width: var(--border-common-radius-4);
            }
            .mat-form-field-outline-end {
                border-radius: 0 var(--border-common-radius-4) var(--border-common-radius-4) 0;
            }
        }
        .mat-form-field-infix {
            .mat-select {
                .mat-select-trigger {
                    .mat-select-arrow-wrapper {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    input {
        &.mat-input-element {
            color: var(--color-common-text);
        }
    }
    &.no-padding {
        .mat-form-field-wrapper {
            padding-bottom: 0px !important;
            .mat-form-field-flex {
                .mat-form-field-prefix {
                    color: var(--color-common-grey) !important;
                }
            }
        }
    }
    &.padding-bottom-10 {
        .mat-form-field-wrapper {
            padding-bottom: 10px !important;
            .mat-form-field-flex {
                .mat-form-field-prefix {
                    color: var(--color-common-grey) !important;
                }
            }
        }
    }
    &.search-form-field {
        width: 250px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        .mat-form-field-wrapper {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
            padding-bottom: 0px !important;
            .mat-form-field-flex {
                .mat-form-field-prefix {
                    .mat-icon {
                        color: var(--color-common-grey);
                    }
                }
            }
        }
        &.mat-form-field-appearance-outline .mat-form-field-outline {
            background-color: var(--color-common-white) !important;
        }
        &.mat-form-field-disabled {
            .mat-form-field-wrapper {
                .mat-input-element:disabled,
                .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
                    color: var(--color-common-grey);
                }
                .mat-form-field-outline {
                    background-color: #e6e6e640 !important;
                }
                .option-loader {
                    background-color: #e6e6e640 !important;
                }
            }
        }
    }
    &.mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: var(--color-common-white) !important;
    }
    &.reset-field {
        &.mat-form-field-appearance-outline {
            &.mat-form-field-invalid {
                &.mat-form-field-invalid {
                    .mat-form-field-outline-thick {
                        color: rgba(0, 0, 0, 0.12);
                    }
                }
                .mat-form-field-label {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            .mat-form-field-flex {
                .mat-form-field-outline {
                    .mat-form-field-outline-start,
                    .mat-form-field-outline-gap,
                    .mat-form-field-outline-end {
                        border-width: 1px;
                    }
                }
            }
        }
    }
    // Used to display only first mat-error
    mat-error {
        display: none !important;
        &:first-child {
            display: block !important;
        }
    }
    //  Remove Margin of mat-form-field-wrapper in form-filed
    &.remove-margin {
        .mat-form-field-wrapper {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }
    }
}

@-moz-document url-prefix() {
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
        display: inline-block !important;
    }
}

// Disbaled stroked input form field
.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0) !important;
    background-size: 1px 100% !important;
    background-repeat: repeat-x !important;
}

// Form Group with input icon dropdown
// Used in Send SMS
.group-form-inputs {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                display: flex;
            }
        }
        .mat-select {
            .mat-select-placeholder {
                color: rgba(0, 0, 0, 0.42) !important;
                -webkit-text-fill-color: rgba(0, 0, 0, 0.42) !important;
                display: inline !important;
            }
        }
    }
    &.hint-position-changes {
        .mat-form-field-subscript-wrapper {
            position: relative;
        }
    }
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-15px) scale(0.7) !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    top: 18px !important;
}

// Other Use case
.mat-ink-bar {
    height: 3px !important;
    background-color: var(--color-common-primary) !important;
}

.mat-form-field-subscript-wrapper {
    padding: 0px !important;
    margin-top: 2px !important;
    font-size: var(--font-size-common-10) !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.7);
}
// Form Filed prefix and suffix form filed group for webhook
.mat-form-field-group {
    .mat-form-field-prefix {
        top: -1px !important;
        left: -10px;
    }
    .mat-form-field-suffix {
        top: -1px !important;
        right: -9px;
    }
}

// Combine Mat Select and textarea into one filed for SMS Content
.filed-textarea-select-group {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                padding-top: 30px !important;
            }
        }
    }
    .select-group {
        left: 10px;
        top: 12px;
        position: absolute;
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-infix {
                    padding: 0px 0 3px 0 !important;
                    margin-top: -4px;
                    width: 60px;
                    font-size: 12px;
                }
            }
        }
        &.dynamic-width-140 {
            .mat-form-field-wrapper {
                .mat-form-field-flex {
                    padding: 0 0.25em 0 0.55em !important;
                    .mat-form-field-infix {
                        width: 140px;
                        .mat-select-placeholder {
                            color: var(--color-common-text) !important;
                        }
                    }
                }
            }
        }
    }
}
/* Firefox hide */
input[matinput][type='number'] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Material Form Error
.mat-error {
    font-size: var(--font-size-common-12);
}

// Appearance filed - form filed
.default-form-field-fill {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            padding: 0.35em 0.75em 0 0.75em !important;
            background-color: var(--color-common-white);
        }
    }
    .mat-form-field-underline {
        background-color: var(--color-common-border);
    }
    .mat-form-field-infix {
        padding: 2px 0 8px 0 !important;
    }
    .mat-form-field-subscript-wrapper {
        margin-top: 0px;
    }
}

// Show Form Label Static left https://prnt.sc/cavZQl-bUpse
.mat-form-field {
    &.static-label {
        .mat-form-field-wrapper {
            .mat-form-field-prefix,
            .mat-form-field-suffix,
            [matprefix] {
                bottom: 8px;
                color: var(--color-common-grey) !important;
            }
            .mat-form-field-infix {
                padding: 0px 0 10px 0 !important;
                border-top: 0px !important;
            }
        }
        .mat-input-element {
            padding: 8px 0px !important;
        }
        .mat-form-field-subscript-wrapper {
            margin-top: 0.0816666667em !important;
        }
    }
}
// Issue:: Form filed float lable show blur in windows
// Solution:: The below code used to make float label visibile in windows
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.34375em) scale(0.75) !important;
}

// Used for Intl Input Box
.invalid-intl-input {
    outline: 2px solid mat.get-color-from-palette($warn) !important;
    border: none !important;
}

// For Hello User Infor mobile number lib override css
.add-phone-number {
    .iti--allow-dropdown {
        margin-bottom: 0px !important;
        .iti__flag-container {
            .iti__country-list {
                left: auto !important;
                width: 250px !important;
            }
        }
    }
}

// Query builder invalid error
.invalid-query-builder {
    border-color: var(--color-email-primary) !important;
}

.reset-form-field-style {
    .mat-form-field-wrapper {
        margin: 0px !important;
        padding: 0px 0px !important;
        .mat-form-field-flex {
            padding: 0px;
            [class^='mat-form-field-outline-'] {
                border-width: 0px !important;
            }
            .mat-form-field-infix {
                padding: 3.5px 0px 0px 0px !important;
                margin: 0px !important;
                border-top: 0px;
                .mat-input-element {
                    padding: 0px !important;
                }
            }
        }
    }
}

// Mat Select Like Menu
.mat-form-field {
    &.mat-select-like-button {
        .mat-form-field-wrapper {
            padding: 0px;
            .mat-form-field-infix {
                width: auto;
                border-top: 0px;
                border-bottom: 1px solid;
                padding: 5px 0 3px 0 !important;
            }
        }
        .mat-form-field-underline,
        .mat-select-arrow-wrapper {
            display: none;
        }
    }
}
