// flex property
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}


.flex-column {
    flex-direction: column;
}

.border-bottom {
    border-bottom: 1px solid #e3e3e4;
}

.cursor-pointer {
    cursor: pointer !important;
}


// Text size
.font-10 {
    font-size: 10px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: var(--font-size-common-14) !important;
}
.font-20 {
    font-size: var(--font-size-common-20) !important;
}
.font-24 {
    font-size: var(--font-size-common-24) !important;
}
.font-32 {
    font-size: 32px !important;
}
.font-40 {
    font-size: 40px !important;
}

// mat form field appearance outline color

.feedbak-mat-form-field {
    &.mat-form-field-appearance-outline {
        &.mat-focused {
            .mdc-notched-outline {
                color: var(--msg-outboundMsg);
            }
        }
        .mdc-notched-outline {
            color: #0000001f;
        }
    }
}