.border-bottom {
    border-bottom: 1px solid #e3e3e4;
}

// Text size
.font-10 {
    font-size: 10px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.font-24 {
    font-size: 24px !important;
}
.font-32 {
    font-size: 32px !important;
}
.font-40 {
    font-size: 40px !important;
}

.flex-row {
    flex-direction: row !important;
}
.flex-column {
    flex-direction: column !important;
}
.flex-row-reverse {
    flex-direction: row-reverse !important;
}
.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}
.flex-nowrap {
    flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.align-items-center {
    align-items: center !important;
}
.align-items-baseline {
    align-items: baseline !important;
}
.align-items-stretch {
    align-items: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
}
.align-content-end {
    align-content: flex-end !important;
}
.align-content-center {
    align-content: center !important;
}
.align-content-between {
    align-content: space-between !important;
}
.align-content-around {
    align-content: space-around !important;
}
.align-content-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}
.align-self-start {
    align-self: flex-start !important;
}
.align-self-end {
    align-self: flex-end !important;
}
.align-self-center {
    align-self: center !important;
}
.align-self-baseline {
    align-self: baseline !important;
}
.align-self-stretch {
    align-self: stretch !important;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
}

/*
// Responsive
*/

.flex-sm-column {
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .flex-md-column {
        flex-direction: column;
    }
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-1 {
    flex: 1;
}
// Space for flex and grid layout
.gap-1 {
    gap: 4px;
}
.gap-2 {
    gap: 8px;
}
.gap-3 {
    gap: 16px;
}
.gap-4 {
    gap: 24px;
}
.gap-5 {
    gap: 32px;
}

// Grid Layout
.d-grid {
    display: grid;
}
.d-none {
    display: none;
}
.d-inline {
    display: inline !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}
.d-table {
    display: table !important;
}
.d-table-row {
    display: table-row !important;
}
.d-table-cell {
    display: table-cell !important;
}
.d-flex {
    display: flex !important;
}
.d-inline-flex {
    display: inline-flex !important;
}

.hide-xs {
    vertical-align: baseline !important;

    @media (max-width: 660px) {
        display: none;
    }
}

.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

// mat form field appearance outline color

.feedback-mat-form-field {
    &.mat-form-field-appearance-outline {
        &.mat-focused {
            .mdc-notched-outline {
                color: var(--msg-outboundMsg);
            }
        }
        .mdc-notched-outline {
            color: #0000001f;
        }
    }
}

// color 
.bg-white {
    background-color: #ffffff !important;
}
.text-white {
    color: #ffffff !important;
}

// spacing
.m-0 {
    margin: 0 !important;
}
.mt-0,
.my-0 {
    margin-top: 0 !important;
}
.mr-0,
.mx-0 {
    margin-right: 0 !important;
}
.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
    margin-left: 0 !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}
.m-3 {
    margin: 1rem !important;
}
.mt-3,
.my-3 {
    margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}
.m-4 {
    margin: 1.5rem !important;
}
.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}
.m-5 {
    margin: 3rem !important;
}
.mt-5,
.my-5 {
    margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}
.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}
.p-0 {
    padding: 0 !important;
}
.pt-0,
.py-0 {
    padding-top: 0 !important;
}
.pr-0,
.px-0 {
    padding-right: 0 !important;
}
.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
    padding-left: 0 !important;
}
.p-1 {
    padding: 0.25rem !important;
}
.pt-1,
.py-1 {
    padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}
.p-2 {
    padding: 0.5rem !important;
}
.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.pt-3,
.py-3 {
    padding-top: 1rem !important;
}
.pr-3,
.px-3 {
    padding-right: 1rem !important;
}
.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
    padding-left: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.pr-5,
.px-5 {
    padding-right: 3rem !important;
}
.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

@media only screen and (max-width: 768px) {
    .mb-sm-20 {
        margin-bottom: 20px;
    }
    .mt-sm-20 {
        margin-top: 20px;
    }
}
.pd-1 {
    padding: 0px 1px 1px 1px !important;
}
.margin-b-20 {
    margin-bottom: 20px !important;
}
.margin-t-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
// admin-panel scss (hello dashboard)
.mb-30 {
    margin-bottom: 30px !important;
}

.mr-sm-0 {
    @media only screen and (max-width: 668px) {
        margin-right: 0px !important;
    }
}

/*
// Responsive
*/
.pm-2 {
    @media only screen and (max-width: 668px) {
        padding: 0.5rem !important;
    }
}

.ml-auto {
    margin-left: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.m-auto {
    margin: auto !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.text-none {
    text-transform: none !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.cursor-pointer {
    cursor: pointer;
}
.outline-none {
    outline: none;
}
.text-underline {
    text-decoration: underline !important;
    text-underline-position: under;
}

.text-dotted {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right-md {
    @media only screen and (max-width: 768px) {
        text-align: right !important;
    }
}
.text-line-through {
    text-decoration: line-through;
}
.text-none {
    text-decoration: none !important;
}
.white-space-pre {
    white-space: pre !important;
}
.white-space-pre-line {
    white-space: pre-line !important;
}

.pointer-event-none {
    pointer-events: none;
}

/* Font Weight */
.fw-thin {
    font-weight: 100 !important;
}
.fw-regular {
    font-weight: 400 !important;
}
.fw-bold {
    font-weight: 500 !important;
}
.fw-bolder {
    font-weight: 600 !important;
}
.fw-normal {
    font-weight: normal !important;
}
// position
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-sticky {
    position: sticky;
}
.position-fixed {
    position: fixed !important;
}

// border radius
.rounded-0 {
    border-radius: 0px !important;
}
.rounded-4 {
    border-radius: 4px !important;
}
.rounded-8 {
    border-radius: 8px !important;
}
.right-top-rounded-8 {
    border-top-right-radius: 8px;
}
.right-bottom-rounded-8 {
    border-bottom-right-radius: 8px;
}
.left-top-rounded-8 {
    border-top-left-radius: 8px;
}
.left-bottom-rounded-8 {
    border-bottom-left-radius: 8px;
}
.right-border-radius-0 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.left-border-radius-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.border-radius-50 {
    border-radius: 50% !important;
}
.border-radius-none {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.border-radius-bottom-none {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.overflowX-scroll {
    width: 100%;
    overflow-x: auto;
}
.overflow-x {
    overflow-x: auto;
}

.overflow-y {
    overflow-y: auto;
}
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden !important;
}
.h-100vh {
    height: 100vh !important;
}
.mh-auto {
    min-width: auto !important;
}
.min-h-100 {
    min-height: 100% !important;
}
.max-h-100 {
    max-height: 100% !important;
}
.h-100 {
    height: 100% !important;
}
.h-75 {
    height: 75% !important;
}
.h-50 {
    height: 50% !important;
}
.h-25 {
    height: 25% !important;
}
.w-100vw {
    width: 100vw !important;
}
.w-100 {
    width: 100% !important;
}
.w-75 {
    width: 75% !important;
}
.w-60 {
    width: 60% !important;
}
.w-50 {
    width: 50% !important;
}
.w-35 {
    width: 35% !important;
}
.w-25 {
    width: 25% !important;
}
.w-15 {
    width: 15% !important;
}
.w-10 {
    width: 10% !important;
}
.h-auto {
    height: auto !important;
}
.w-auto {
    width: auto !important;
}
.w-content {
    width: fit-content;
}

.mw-auto {
    min-width: auto !important;
}
.min-w-100 {
    min-width: 100% !important;
}
.max-w-100 {
    max-width: 100% !important;
}

.w-xs-50 {
    @media only screen and (max-width: 768px) {
        width: 50% !important;
    }
}
.w-min-300 {
    min-width: 300px;
}
// admin-panel scss

.h-xs-100 {
    @media only screen and (max-width: 768px) {
        height: 100% !important;
    }
}

.clint-input-container {
    .iti--allow-dropdown {
        &:has(.iti--allow-dropdown) {
            margin-bottom: 0;
           > .iti__flag-container {
                display: none;
            }
        }
    }   
}
.msg91-articles-view-body-inner-container  {
    .inert-menu-hook {
        position: static !important;
    }
    
    header {
        position: static !important;
    }
}

.rcw-modal-body {
    transform: translateZ(0) !important;
}

.word-break {
    word-break: break-word;
}