.mat-paginator {
    &.default-mat-paginator {
        background-color: transparent !important;
        .mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 6px !important;
            }
            .mat-form-field-wrapper {
                margin-bottom: 0 !important;
            }
        }
        .mat-paginator-range-label {
            @media only screen and (max-width: 768px) {
                margin: 0 10px 0 10px;
            }
        }
    }
}

// Goto pagination
.mat-paginator-outer-container {
    .mat-select-value {
        line-height: 16px;
    }
    .mat-paginator-page-size-label,
    .mat-paginator-range-label {
        text-transform: capitalize !important;
        font-size: var(--font-size-common-12);
        color: var(--color-common-text);
    }
    .mat-form-field-wrapper {
        padding-bottom: 3.5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0px 0 8px 0 !important;
    }
    .mat-paginator-page-size-select {
        margin: 0 !important;
    }
}
.go-to-pagination {
    border-top: 1px solid var(--color-table-cell-border);
    .mat-paginator {
        box-shadow: none !important;
        border-top: 0px;
        .mat-paginator-page-size-label {
            @media (max-width: 660px) {
                display: none;
            }
        }
    }
    .go-to-container {
        display: flex;
        align-items: baseline;
        height: 39px;

        .go-to-label {
            margin: 0 4px;
            font-size: 12px;
            color: var(--color-common-text);
            font-family: var(--font-family-common);
            @media (max-width: 460px) {
                display: none;
            }
        }
        .mat-form-field {
            width: 56px;
            font-size: 12px;
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
                margin-top: 0px;
                .mat-form-field-flex {
                    font-size: 12px;
                    .mat-form-field-infix {
                        padding: 4px 0 9px 0 !important;
                        .mat-select-arrow-wrapper {
                            transform: translateY(-7%) !important;
                        }

                        .mat-select-value-text {
                            color: var(--color-common-text);
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .mat-paginator {
        .mat-paginator-container {
            @media (max-width: 460px) {
                padding-right: 0px;
                .mat-paginator-page-size {
                    margin-right: 0px !important;
                }
                .mat-paginator-range-label {
                    margin-right: 0px !important;
                }
                .mat-paginator-navigation-previous,
                .mat-paginator-navigation-next {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}

.hide-pagination-arrows {
    .mat-paginator {
        .mat-paginator-container {
            .mat-paginator-navigation-previous,
            .mat-paginator-navigation-next {
                display: none !important;
            }
        }
    }
}

// Add class inside Overlay useing provider
.custom-mat-paginator {
    .mat-select-panel-wrap {
        .mat-select-panel {
            border-radius: var(--border-common-radius);
            margin-top: 0px !important;
            .mat-option {
                font-size: var(--font-size-common-11);
            }
        }
    }
}
