@import '../theme/theme-colors';

.mat-select-panel-wrap {
    .mat-select-panel {
        border-radius: var(--border-common-radius);
        .mat-option {
            //    font-size: var(--font-size-common-14);
            color: var(--color-common-text) !important;
            // for disabled mat option
            &.mat-option-disabled {
                background-color: var(--color-common-silver) !important;
                pointer-events: none;
            }
        }
    }
    .round-dropdown {
        max-height: 100% !important;
        border-radius: 8px !important;
    }
    .mat-select-panel {
        .mat-option {
            color: var(--color-common-text);
            &.mat-active,
            &.mat-selected {
                background-color: var(--color-common-primary-light) !important;
                color: var(--color-common-text) !important;
            }
        }
    }
}

.custome-select-field {
    .mat-form-field-wrapper {
        .mat-select-value {
            font-size: var(--font-size-common-14);
            line-height: 16px;
            font-weight: normal;
            color: #676b6e;
        }
        .mat-form-field-flex {
            .mat-form-field-outline {
                background-color: var(--color-common-bg) !important;
            }
        }
    }
}

.cdk-overlay-pane {
    .mat-select-panel-wrap {
        .mat-select-panel {
            .mat-option {
                &.mat-active,
                &:hover {
                    background-color: var(--color-common-primary-light) !important;
                    color: var(--color-common-text) !important;
                }
                &.not-active {
                    color: var(--color-common-grey) !important;
                }
                &.mat-checkbox {
                    width: 100% !important;
                }
            }
            margin-top: 40px; // add to show below the select input.
        }
    }
}

// Autocomplete
.mat-autocomplete-panel {
    .mat-option {
        font-size: 14px;
        height: 40px !important;
        line-height: 40px !important;
        &:hover {
            background-color: var(--color-common-primary-light) !important;
        }
    }
}

// option below the input
.mat-option-below {
    margin-top: 22px !important;
}

// only use for show selected value to primary color mat-select.
.mat-option-selected {
    .mat-select-value-text {
        color: var(--color-common-primary);
    }
}

// Lib :: Multiselect Option below position from input box
.multi-select-below-position {
    .mat-select-panel {
        margin-top: 30px !important;
    }
}

// Widget Theme color select height changes
.mat-select-panel {
    &.mat-select-height {
        max-height: 330px;
    }
}

.fixed-mat-select-panel {
    .mat-select-panel {
        min-width: 112px !important;
    }
}
