@import 'libs/shared-assets/styles/utils/mixins/common-utils';
.mat-right-dialog {
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    box-shadow: -4px 0px 16px #00000059;
    &.mat-dialog-lg {
        width: 535px;
        @media only screen and (max-width: 768px) {
            width: 100%;
            max-width: 100% !important;
        }
    }
    &.mat-dialog-md {
        width: 450px;
    }
    &.mat-dialog-xs {
        width: 374px;
    }
    &.mat-dialog-xlg {
        width: 40vw;
        @media only screen and (max-width: 1280px) {
            width: 60vw;
        }
        @media only screen and (max-width: 992px) {
            width: 100%;
            max-width: 90% !important;
        }
    }
    .mat-dialog-container {
        width: 100% !important;
        padding: 0px !important;
        border-radius: 0px !important;

        .mat-right-dialog-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            .mat-right-dialog-header {
                // position: sticky;
                // top: 0;
                // z-index: 1000;
                padding: 8px 16px;
                border-bottom: 1px solid var(--color-common-border);
                // background-color: var(--color-common-white);
                h2 {
                    font-weight: var(--font-weight-medium);
                }
            }
            .mat-right-dialog-content {
                overflow-y: auto;
                max-height: 100%;
                padding: 16px;
            }
        }
    }
}

.compose-bottom-dialog {
    position: absolute !important;
    bottom: 0;
    @media screen and (min-width: 900px) {
        right: 16px;
    }
    @include media-breakpoint-down('tablet') {
        top: 0px;
    }
    &.full-width {
        transition: inset all linear !important;
        max-width: 100% !important;
        @media screen and (min-width: 900px) {
            max-width: 80vw;
            .mat-dialog-container {
                width: 100vw;
            }
        }
        @media screen and (max-width: 900px) {
            .mat-dialog-container {
                width: 100vw !important;
            }
        }
        &:has(.full-screen-compose) {
            inset: 83px !important;
            border-radius: 8px;
        }
    }
    .mat-dialog-container {
        width: 100% !important;
        padding: 0px !important;
        border-radius: 0px !important;
        overflow: hidden;
        @media screen and (min-width: 900px) {
            border-radius: var(--border-common-radius) var(--border-common-radius) 0px 0px !important;
        }
        &:has(.full-screen-compose) {
            border-radius: var(--border-common-radius) !important;
        }
        .compose-mail {
            .compose-mail-header {
                background-color: var(--color-common-primary);
                min-width: 250px;
            }
        }
    }
}

.compose-full-screen {
    .compose-bottom-dialog {
        inset: 83px !important;
        border-radius: var(--border-common-radius);
    }
    .mat-dialog-container {
        .full-screen-compose {
            border-radius: var(--border-common-radius) !important;
        }
    }
}

// segmento dialog scroll
.dialog-default-scroll {
    overflow-y: scroll;
    justify-content: center;
    .mat-dialog-container {
        margin: 35px 0;
        .mat-dialog-content {
            max-height: inherit;
        }
    }
}

.right-dialog-slide-in-with-animation {
    transform: translateX(100%);
    animation: rightDialogSlideInWithAnimation 0.3s ease-in-out forwards;
}

@keyframes rightDialogSlideInWithAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
