.msg91-articles-list-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.msg91-articles-list-body-container {
    flex: 1;
    position: relative;
}

.msg91-articles-list-body-inner-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &.articles-list {
        background-color: white !important;
        margin-bottom: 32px !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
        border-radius: 6px;
        svg {
            fill: var(--msg-outboundMsg);
            width: 16px;
            height: 16px;
        }
    }
}

.folder-list {
    padding: 15px 15px 15px 40px;
    border-bottom: 1px solid #e3e3e4;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 500ms all;
    width: auto;
    font-family: var(--msg-fontFamily) !important;
    color: #4f4f4f !important;
    &:hover {
        background-color: #dcdcdc63;
    }
}

.folder-list svg {
    position: absolute;
    left: 15px;
}

.search-box {
    position: relative;
    border-bottom: 1px solid gainsboro;
    z-index: 0;
}

.search-box svg {
    position: absolute;
    top: 15px;
    left: 16px;
}

.search-box input[type='text'] {
    width: -webkit-fill-available;
    border: 0;
    padding: 10px 10px 10px 39px;
    height: 25px;

    &:focus {
        outline: unset !important;
    }
}
