ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &.articles-list {
        margin-bottom: 32px !important;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
        border-radius: 6px;
        svg {
            fill: var(--msg-outboundMsg);
            width: 16px;
            height: 16px;
        }
    }
}

.folder-list {
    padding: 15px 15px 15px 40px;
    border-bottom: 1px solid #e3e3e4;
    // font-size: 14px !important;
    // display: flex;
    // align-items: center;
    // cursor: pointer;
    transition: 500ms all;
    // width: auto;
    color: #4f4f4f !important;
    &:hover {
        background-color: #dcdcdc63;
    }
    svg {
        position: absolute;
        left: 15px;
    }
}