<div class="rcw-modal" *ngIf="!isNotification">
    <div class="rcw-modal-content rcw-modal-center">
        <button (click)="closed.next()" class="rcw-full-screen-button">
            <svg
                class="rcw-full-screen-icon"
                fill="white"
                focusable="false"
                height="25"
                [attr.viewBox]="'0 0 16 14'"
                width="28"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    clip-rule="evenodd"
                    d="M.116 4.884l1.768-1.768L8 9.232l6.116-6.116 1.768 1.768L8 12.768.116 4.884z"
                    fill-rule="evenodd"
                ></path>
            </svg>
        </button>
        <div class="rcw-post">
            <div class="rcw-modal-header" *ngIf="title">
                <div class="rcw-modal-title" [innerHTML]="title | sanitizeHtml"></div>
            </div>
            <div class="rcw-modal-body">
                <div [innerHTML]="message | sanitizeHtml"></div>
            </div>
        </div>
    </div>
</div>

<div
    class="rcw-modal notification"
    *ngIf="isNotification"
    [ngClass]="[
        position?.horizontal_position ? 'horizontal-' + position?.horizontal_position : '',
        position?.vertical_position ? 'vertical-' + position?.vertical_position : ''
    ]"
>
    <div class="rcw-modal-content">
        <button (click)="closed.next()" class="rcw-full-screen-button">
            <svg
                class="rcw-full-screen-icon"
                fill="white"
                focusable="false"
                height="25"
                [attr.viewBox]="'0 0 24 24'"
                width="28"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                />
            </svg>
        </button>
        <div class="rcw-post notification-post">
            <div class="notification-modal-body">
                <!-- <div [innerHTML]="message | sanitizeHtml"></div> -->
                <iframe
                    style="border: none;"
                    frameborder="1"
                    #iframe
                    (load)="onIframeLoad(iframe, message)"
                ></iframe>
            </div>
        </div>
    </div>
</div>
