:host {
    position: fixed;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    z-index: 99999999;
    overflow: scroll;
}
.rcw-modal {
    z-index: 9999;
    padding: 5vh 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    font-family: var(--msg-fontFamily) !important;
    .rcw-modal-content {
        background-color: #fefefe;
        border: 1px solid lightgray;
        max-width: 700px;
        word-break: break-word;
        margin: auto;
        border-radius: 8px;
        &.rcw-modal-center {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 16px;
            bottom: 16px;
        }

        @media only screen and (max-width: 768px) {
            left: 16px !important;
            right: 16px !important;
        }
        .rcw-full-screen-button {
            position: absolute;
            top: -14px;
            right: -14px;
            background-color: black;
            border: none;
            width: 32px;
            height: 32px;
            min-height: 32px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 16px;
            }
            &:focus {
                outline: none;
            }
        }
        .notification-post {
            @media only screen and (max-width: 768px) {
                max-height: 90vh;
            }
        }
        .rcw-modal-header {
            border-bottom: 1px solid #f7f7f7;
            padding: 16px;
            align-items: start;
            justify-content: center;
            .rcw-full-screen-button {
                position: absolute;
                top: -14px;
                right: -14px;
                background-color: black;
                border: none;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 32px;
                svg {
                    width: 16px;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .notification-modal-body {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .rcw-modal-body {
            max-height: calc(100vh - 64px - 57px);
            overflow: auto;
            padding: 16px;
            transform: translateZ(0);
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    &.notification {
        font-size: 16px;
        display: flex;
        padding: 16px;
        .rcw-modal-content {
            position: relative;
            max-width: 100%;
            margin: 0 !important;
            @media only screen and (max-width: 768px) {
                left: 16px !important;
                right: 16px !important;
            }
            .notification-post {
                width: 100%;
                .notification-modal-body {
                    padding: 16px;
                }
            }
        }
        // @media only screen and (min-width: 768px) {
        &.horizontal {
            &-center {
                justify-content: center !important;
            }
            &-left {
                justify-content: flex-start !important;
            }
            &-right {
                justify-content: flex-end !important;
            }
        }
        &.vertical {
            &-center {
                align-items: center !important;
            }
            &-top {
                align-items: flex-start !important;
            }
            &-bottom {
                align-items: flex-end !important;
            }
        }
    }
}

::ng-deep.rcw-modal-title {
    color: #4f4f4f;
    font-size: 20px;
    font-family: var(--msg-fontFamily);
    font-weight: 600;
    * {
        margin: 0px;
    }
}