@import '../../../assets/styles/component/global';

* {
    box-sizing: border-box !important;
    position: relative !important;
    font-family: var(--msg-fontFamily) !important;
}

.mat-button {
    font-family: var(--msg-fontFamily) !important;
}

.chat-button {
    z-index: 999999 !important;
    width: 60px !important;
    height: 60px !important;
    bottom: 20px;
    right: 40px !important;
    box-shadow: 0 5px 40px rgb(0 0 0 / 16%) !important;
    background-color: var(--msg-outboundMsg);
    border: none !important;
    line-height: 40px !important;
    
     &.chat-button-left {
         left: 40px !important;
         right: auto !important;
     }
}

.chat-box {
    z-index: 100 !important;
    left: 0 !important;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
    overflow-y: hidden !important;
}

.chat-box-hidden {
    display: none !important;
}

.chat-box-header {
    padding: 10px !important;
    color: #fff !important;
}

.chat-box-main {
    flex: 1 !important;
    width: 100% !important;
    background: #f5f5f5 !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    overflow: auto !important;
}

.chat-box-footer {
    color: #fff !important;
    height: 50px !important;
}

.operator-name {
    margin: 0 !important;
    padding: 1px !important;
}

.operator-status {
    float: right !important;
    padding: 4px !important;
}

.operator-status span {
    margin-left: 4px !important;
}

.operator-status-online {
    color: lawngreen !important;
}

.operator-status-offline {
    color: red !important;
}

.operator-avatar {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    float: left !important;
    margin-right: 10px !important;
}

.chat-message {
    display: block !important;
    width: auto !important;
    margin: 5px !important;
    align-self: flex-start !important;
    flex-direction: row !important;
    max-width: 80% !important;
    word-wrap: break-word !important;
}

.chat-message-date {
    font-size: 11px !important;
    color: #8d898d !important;
    padding: 5px !important;
}

.chat-message-from-avatar {
    height: 35px !important;
    width: 35px !important;
    border-radius: 50% !important;
}

.chat-message-text {
    margin-left: 10px !important;
    padding: 10px !important;
    border-radius: 3px !important;
}

/**
Received message style
 */
.chat-message-received {
    margin-right: 50px !important;
}

.chat-message-received {
    .chat-message-text {
      background: #b9d6f2 !important;
      margin-left: 50px !important;
      border-bottom-left-radius: 0 !important;
  
      &:before {
        position: absolute !important;
        content: ' ' !important;
        left: -10px !important;
        bottom: 0 !important;
        border-right: solid 10px #b9d6f2 !important;
        border-top: solid 10px transparent !important;
        z-index: 0 !important;
      }
    }
  
    .chat-message-date {
      margin-left: 50px !important;
    }
  
    .chat-message-from-avatar {
      position: absolute !important;
      left: 0 !important;
      bottom: -15px !important;
    }
  }

/**
Sent message style
 */
 .chat-message-sent {
    align-self: flex-end !important;
  
    .chat-message-from {
      float: right !important;
    }
  
    .chat-message-text {
      background: #84dccf !important;
      margin-right: 50px !important;
      border-bottom-right-radius: 0 !important;
  
      &:after {
        position: absolute !important;
        content: ' ' !important;
        right: -10px !important;
        bottom: 0 !important;
        border-left: solid 10px #84dccf !important;
        border-top: solid 10px transparent !important;
        z-index: 0 !important;
      }
    }
  
    .chat-message-date {
      text-align: right !important;
      padding-right: 50px !important;
    }
  
    .chat-message-from-avatar {
      position: absolute !important;
      right: 0 !important;
      bottom: -15px !important;
    }
  }

.blue .chat-button {
    background-image: linear-gradient(
        211deg,
        var(--msg-primaryColor) 52%,
        var(--msg-primaryColor) 40.2%,
        var(--msg-primaryColorLight) 116.5%,
        var(--msg-primaryColorLight) 102.1%
    ) !important;
}

/*.blue .chat-box {*/
/*  background: #1976d2 !important;*/
/*}*/

.grey .chat-button {
    background: #454549 !important;
}

.grey .chat-box {
    background: #454549 !important;
}

.red .chat-button {
    background: #dd0031 !important;
}

.red .chat-box {
    background: #dd0031 !important;
}

button.close-mobile-icon-btn {
    display: none !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 320px) and (max-width: 576px) {
    button.close-mobile-icon-btn {
        position: absolute !important;
        top: 2px !important;
        right: 2px !important;
        z-index: 10 !important;
        background-color: #ffffff !important;
        border: unset !important;
        border-radius: 100% !important;
        font-weight: bolder !important;
        height: 35px !important;
        width: 35px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .chat-button {
        display: block !important;
    }

    .chat-button-header {
        display: none !important;
    }

    .chat-box {
        top: auto !important;
        left: auto !important;
        bottom: 100px !important;
        right: 40px !important;
        height: calc(100% - 120px) !important;
        width: 354px !important;
        border-radius: 16px 16px 16px 16px !important;
        overflow-x: hidden;
        min-height: 250px;
        max-height: 659px;

        &.chat-box-left {
            left: 40px !important;
            right: auto !important;
        }
    }
}

@media only screen and (min-width: 1342px) and (max-width: 1360px) {
    .chat-box {
        height: 80vh !important;
    }
}

@media (max-width: 576px) {
    .chat-box {
        inset: 0px;
        width: 100% !important;
        border-radius: 0px 0px 16px 16px !important;

        width: 100%;
        height: 100% !important;
        max-height: none;
        overflow: hidden;
    }
}

.msg91-chat-view,
.msg91-faq-view {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-opacity: 0.5 !important;
        opacity: 0.5 !important;
    }
    100% {
        -webkit-opacity: 1 !important;
        opacity: 1 !important;
    }
}

@keyframes slide-top {
    0% {
        -webkit-opacity: 0.5 !important;
        opacity: 0.5 !important;
    }
    100% {
        -webkit-opacity: 1 !important;
        opacity: 1 !important;
    }
}

.network-status {
    background: rgba(0, 0, 0, 0.5) !important;
}

.active-view {
    background: linear-gradient(113deg, var(--msg-primaryColor), var(--msg-primaryColorLight)) !important;
    color: var(--msg-textColor) !important;
    svg {
        fill: var(--msg-textColor) !important;
    }
}

.main-loader {
    z-index: 999 !important;

    .mat-progress-spinner {
        circle {
            stroke: var(--msg-primaryColor);
        }
    }
}