<div class="client-input-form">
    <div class="msg-container">
        <div class="input-msg-box font-12" style="box-sizing: border-box" *ngIf="!$any(message)?.formSubmitted">
            <h6 class="fw-bold agent-name font-10 fw-bold m-0 text-dotted">Bot</h6>
            <span class="d-block">Please fill this form with your details to proceed with the conversation.</span>
        </div>
        <mat-card *ngIf="!$any(message)?.formSubmitted" class="mat-elevation-z3 details-card min-w-100 max-w-100 p-2 rounded-4 font-12 input-msg-box">
            <form [formGroup]="clientForm">
                <div class="show-loader position-absolute" *ngIf="formIsSubmiting" style="bottom: 112px">
                    <mat-progress-spinner diameter="20" mode="indeterminate" value="100"></mat-progress-spinner>
                </div>
                <ng-container *ngFor="let param of defaultParams">
                    <div class="clint-input-container d-flex flex-column position-relative mb-2">
                        <mat-form-field
                            appearance="outline"
                            class="w-100"
                            *ngIf="param.name?.toUpperCase() !== 'NUMBER'"
                            [style.marginTop]="param?.name === 'mail' ? '10px' : ''"
                            required
                        >
                            <mat-label class="text-capitalize">{{
                                param?.name === 'mail' ? 'Email' : param?.name
                            }}</mat-label>
                            <ng-container *ngIf="param.name?.toUpperCase() !== 'NUMBER'">
                                <input
                                #formControl
                                [formControlName]="param?.id"
                                [name]="param?.name"
                                type="text"
                                [placeholder]="
                                'Your ' + (param.name === 'mail' ? 'email' : param.name?.toLowerCase())
                                "
                                matInput
                                autocomplete="off"
                                >
                            </ng-container>

                            <mat-error *ngIf="clientForm.get(param?.id)?.hasError('required')"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} is required.
                            </mat-error>
                            <mat-error *ngIf="clientForm.get(param?.id)?.hasError('invalidNumber')"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} is invalid.
                            </mat-error>
                            <mat-error *ngIf="clientForm.get(param?.id)?.hasError('maxlength')"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} is too long.
                            </mat-error>
                            <mat-error *ngIf="clientForm.get(param?.id)?.hasError('alphabatOnly')"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} only alphanumeric
                                allow.
                            </mat-error>
                            <mat-error *ngIf="clientForm.get(param?.id)?.hasError('pattern')"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} is invalid.
                            </mat-error>
                        </mat-form-field>
                        <ng-container *ngIf="param.name?.toUpperCase() === 'NUMBER'">
                            <!-- <phone-number-control
                                #formControl
                                [formControlName]="param?.id"
                                [appurl]="appurl"
                                [placeholder]="
                                    'Your ' + (param.name === 'mail' ? 'email' : param.name?.toLowerCase())
                                "
                                matInput
                            >
                            </phone-number-control> -->
                            <input
                                type="tel"
                                #initContact
                                [formControlName]="param?.id"
                                (keypress)="intlClass?.onlyPhoneNumber($event)"
                                id="init-contact"
                                placeholder="Mobile Number"
                                matInput
                                class="w-100"
                            />
                            <span
                                *ngIf="clientForm.get(param?.id)?.hasError('invalidNumber')"
                                class="mat-error invalid-number position-absolute fw-regular font-12 d-inline-block px-3"
                                >{{ param?.name === 'mail' ? 'Email' : (param.name | titlecase) }} is invalid.
                            </span>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="form-btn d-flex justify-content-end">
                    <button
                        (click)="submitParam(defaultParams)"
                        class="focused-color w-100 font-14 fw-bolder"
                        color="primary"
                        mat-flat-button
                        type="submit"
                        [disabled]="formIsSubmiting"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>

<ng-template [ngIf]="$any(message)?.formSubmitted">
    <div class="success-clint-form my-3">
        <div class="text-center">
            <img class="mb-3" [src]="appurl + 'assets/images/success-icon.png'" loading="lazy" />
        </div>
        <strong class="d-block text-center font-14"> Your details are successfully sent! </strong>
    </div>
</ng-template>
