:host {
    display: block;
    max-width: 90%;

    .client-input-form {
        display: flex;
        align-items: flex-end;
        .bot-icon {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin-right: 16px;
        }
        .msg-container {
            display: flex;
            flex-direction: column;
            .details-card {
                margin-top: 8px;
            }
        }
    }
}

::ng-deep.show-loader {
    z-index: 100;
    margin-left: 45%;
    .mat-progress-spinner {
        circle {
            stroke: var(--msg-primaryColor);
        }
    }
}
::ng-deep.clint-input-container {
    .mat-mdc-text-field-wrapper {
        .mat-mdc-floating-label {
            color: #393939 !important;
        }
    }
    .mat-mdc-form-field-subscript-wrapper {
        padding-left: 0px !important;
        .mat-mdc-form-field-error {
            font-size: 12px;
        }
    }
    .invalid-number {
        bottom: -11px;
        color: #f44336;
    }
}

::ng-deep.form-btn {

    .mdc-button--unelevated.mat-primary,
    .mdc-button--unelevated.mat-primary,
    .mat-mdc-fab .mat-primary,
    .mat-mdc-mini-fab.mat-primary {
        background-color: var(--msg-primaryColor);
        box-shadow: none !important;
        color: #ffffff;
    }
}

::ng-deep.details-card {
    box-shadow: none !important;
    box-sizing: border-box;
}

.success-clint-form {
    padding: 22px 12px;
    background-color: var(--msg-inboundMsg);
    border-radius: 6px;
    strong {
        line-height: 20px;
        color: #313131;
    }
    img {
        width: 42px;
        height: 42px;
    }
}


.input-msg-box {
    padding: 6px;
    background-color: var(--msg-inboundMsg);
    color: #393939;
    line-height: 20px;
    .agent-name {
        color: #8f9396;
    }
}

#init-contact {
    height: 48px !important;
    background-color: transparent;
}
